Repository manwithacat/dazzle: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, js-typecheck, js-tests, dsl-validate, pytest-fast, parser-corpus, pra-unit, mcp-verify, homebrew-validate, verify-pypi-urls

Path conditions:
  eslint: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$, but not: \.test\.js$
  js-typecheck: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$
  js-tests: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$
  dsl-validate: any of: \.dsl$, but not: (templates/|_archive/)
  pytest-fast: any of: ^src/dazzle/.*\.py$
  parser-corpus: any of: ^(src/dazzle/core/dsl_parser.*\.py|tests/parser_corpus/|tests/corpora/)
  pra-unit: any of: ^(src/dazzle_dnr_back/pra/|src/dazzle_dnr_back/events/|src/dazzle_dnr_back/metrics/|tests/unit/test_pra)
  mcp-verify: any of: ^src/dazzle/mcp/.*\.py$
  homebrew-validate: any of: ^homebrew/.*\.rb$
  verify-pypi-urls: any of: ^(homebrew/.*\.rb|\.github/workflows/release-cli\.yml)$

feat(mobile): add JWT authentication with security hardening
  .github/workflows/ci.yml
  pyproject.toml
  src/dazzle_dnr_back/runtime/auth.py
  src/dazzle_dnr_back/runtime/device_registry.py
  src/dazzle_dnr_back/runtime/jwt_auth.py
  src/dazzle_dnr_back/runtime/jwt_middleware.py
  src/dazzle_dnr_back/runtime/push_notifications.py
  src/dazzle_dnr_back/runtime/social_auth.py
  src/dazzle_dnr_back/runtime/token_store.py
  tests/unit/test_jwt_auth.py
  tests/unit/test_jwt_fuzzing.py
  tests/unit/test_jwt_security.py
Due: none

fix(mcp): handle None project path in get_product_spec handler
  src/dazzle/mcp/server/__init__.py
Due: pytest-fast, mcp-verify

feat(auth): wire OAuth social login routes in DNR runtime
  .github/workflows/pra.yml
  src/dazzle/cli/dnr_impl/serve.py
  src/dazzle/cli/dnr_impl/test.py
  src/dazzle_dnr_back/runtime/server.py
  src/dazzle_dnr_ui/runtime/combined_server.py
  tests/unit/test_social_auth_wiring.py
Due: pytest-fast

fix(test): skip social auth tests when FastAPI unavailable
  tests/unit/test_social_auth_wiring.py
Due: none

fix(auth): move FastAPI Request import to module level
  src/dazzle_dnr_back/runtime/social_auth.py
Due: none

feat(mcp): add community contribution packaging tool
  src/dazzle/mcp/server/handlers/contribution.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  tests/unit/test_contribution_handler.py
Due: pytest-fast, mcp-verify

fix(mcp): return summaries for stories/test designs to prevent context overflow
  src/dazzle/mcp/server/handlers/stories.py
  src/dazzle/mcp/server/tool_handlers.py
  src/dazzle/mcp/server/tools_consolidated.py
  tests/unit/test_stories.py
Due: pytest-fast, mcp-verify

fix(mcp): resolve AnyUrl resource read and external project selection
  src/dazzle/mcp/server/__init__.py
  src/dazzle/mcp/server/handlers/project.py
  src/dazzle/mcp/server/tool_handlers.py
Due: pytest-fast, mcp-verify

feat(pitch): add investor pitch deck generation from DSL + pitchspec.yaml
  pyproject.toml
  src/dazzle/cli/__init__.py
  src/dazzle/cli/e2e.py
  src/dazzle/cli/pitch.py
  src/dazzle/cli_legacy.py
  src/dazzle/mcp/server/handlers/pitch.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  src/dazzle/pitch/__init__.py
  src/dazzle/pitch/extractor.py
  src/dazzle/pitch/generators/__init__.py
  src/dazzle/pitch/generators/charts.py
  src/dazzle/pitch/generators/narrative.py
  src/dazzle/pitch/generators/pptx_gen.py
  src/dazzle/pitch/ir.py
  src/dazzle/pitch/loader.py
  tests/unit/test_pitch_extractor.py
  tests/unit/test_pitch_generator.py
  tests/unit/test_pitch_ir.py
  tests/unit/test_pitch_loader.py
Due: pytest-fast, mcp-verify

fix(parser): accept keyword tokens as field names in send trigger dot notation
  src/dazzle/core/dsl_parser_impl/messaging.py
Due: pytest-fast, parser-corpus

feat(ops): add unified system metrics collector and ops dashboard enhancements
  src/dazzle_dnr_back/metrics/__init__.py
  src/dazzle_dnr_back/metrics/system_collector.py
  src/dazzle_dnr_back/runtime/ops_routes.py
  src/dazzle_dnr_back/runtime/repository.py
  src/dazzle_dnr_ui/runtime/static/ops/app.js
Due: pra-unit

feat(pitch): add visual primitives, speaker notes, extra slides, chart embedding (#53)
  .claude/hooks/smart_stop.py
  src/dazzle/cli/project.py
  src/dazzle/pitch/extractor.py
  src/dazzle/pitch/generators/pptx_gen.py
  src/dazzle/pitch/ir.py
  src/dazzle/pitch/loader.py
  tests/unit/test_pitch_generator.py
  tests/unit/test_pitch_ir.py
  tests/unit/test_pitch_loader.py
Due: pytest-fast

chore: bump version to 0.6.0
  .claude/CLAUDE.md
  pyproject.toml
Due: none

fix: correct version to 0.19.0 (was regressed to 0.5.0 during TigerBeetle merge)
  .claude/CLAUDE.md
  pyproject.toml
Due: none

feat(pitch): add visual polish helpers, light slides, table/callout layouts (#54)
  src/dazzle/cli/project.py
  src/dazzle/pitch/generators/pptx_gen.py
  src/dazzle/pitch/ir.py
  src/dazzle/pitch/loader.py
  tests/unit/test_pitch_generator.py
  tests/unit/test_pitch_ir.py
Due: pytest-fast

feat(pitch): modular refactor and visual polish (#55)
  src/dazzle/cli/story.py
  src/dazzle/pitch/generators/pptx_gen.py
  src/dazzle/pitch/generators/pptx_primitives.py
  src/dazzle/pitch/generators/pptx_slides.py
  tests/unit/test_pitch_generator.py
Due: pytest-fast

feat(pitch): add layout safety rails and custom slide plugin system (#57)
  src/dazzle/cli/pitch.py
  src/dazzle/cli/story.py
  src/dazzle/pitch/extractor.py
  src/dazzle/pitch/generators/plugin_loader.py
  src/dazzle/pitch/generators/pptx_gen.py
  src/dazzle/pitch/generators/pptx_primitives.py
  src/dazzle/pitch/generators/pptx_slides.py
  src/dazzle/pitch/ir.py
  tests/unit/test_pitch_generator.py
Due: pytest-fast

feat(pitch): add iteration guidance, review operation, and workflow guide
  src/dazzle/cli/testing.py
  src/dazzle/mcp/cli_help.py
  src/dazzle/mcp/prompts.py
  src/dazzle/mcp/server/handlers/pitch.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  tests/unit/test_pitch_loader.py
Due: pytest-fast, mcp-verify

feat(pitch): improve slide layout engine and add generator tests
  src/dazzle/pitch/generators/pptx_gen.py
  src/dazzle/pitch/generators/pptx_primitives.py
  src/dazzle/pitch/generators/pptx_slides.py
  tests/unit/test_pitch_generator.py
Due: pytest-fast

fix(pitch): use _estimate_text_height to prevent text overlap and layout overflow (#58)
  src/dazzle/cli/testing.py
  src/dazzle/pitch/generators/pptx_gen.py
  src/dazzle/pitch/generators/pptx_slides.py
  tests/unit/test_pitch_generator.py
Due: pytest-fast

fix(mcp): detect CWD dazzle.toml in dev mode before falling back to example project (#59)
  src/dazzle/cli/testing.py
  src/dazzle/mcp/server/handlers/project.py
  src/dazzle/mcp/server/state.py
  tests/test_mcp_integration.py
Due: pytest-fast, mcp-verify

feat(mcp): create GitHub issues from feedback and contribution tools (#60)
  src/dazzle/cli/testing.py
  src/dazzle/mcp/event_first_tools.py
  src/dazzle/mcp/server/github_issues.py
  src/dazzle/mcp/server/handlers/contribution.py
  tests/unit/test_github_issues.py
Due: pytest-fast, mcp-verify

refactor(mcp): remove legacy tool dispatch path, always use consolidated tools
  scripts/verify-mcp.py
  src/dazzle/cli/utils.py
  src/dazzle/mcp/server/__init__.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/state.py
  src/dazzle/mcp/server/tools_consolidated.py
  tests/test_mcp_integration.py
Due: pytest-fast, mcp-verify

fix(mcp): remove duplicate resources in list_resources
  src/dazzle/mcp/resources.py
Due: pytest-fast, mcp-verify

feat(mcp): make dev-mode tools roots-aware; remove cli_legacy.py (#69)
  scripts/bump-version.py
  src/dazzle/cli.py
  src/dazzle/cli/__init__.py
  src/dazzle/cli/project.py
  src/dazzle/cli/testing.py
  src/dazzle/cli/utils.py
  src/dazzle/cli_legacy.py
  src/dazzle/mcp/server/__init__.py
  src/dazzle/mcp/server/handlers/project.py
  src/dazzle/mcp/server/handlers/status.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  src/dazzle/testing/__init__.py
  tests/unit/test_project_roots.py
Due: pytest-fast, mcp-verify

fix(tests): use lexer keyword set in property-based tests
  tests/unit/test_property_based.py
Due: none

refactor(mcp): single active_project field, roots wins over internal state
  src/dazzle/mcp/server/handlers/project.py
  src/dazzle/mcp/server/handlers/status.py
Due: pytest-fast, mcp-verify

fix(pitch): add feedback/GitHub issue guidance to next_steps (#62)
  src/dazzle/mcp/server/github_issues.py
  src/dazzle/mcp/server/handlers/pitch.py
  tests/unit/test_github_issues.py
Due: pytest-fast, mcp-verify

fix(pitch): tighten milestones layout to prevent unnecessary overflow (#64)
  src/dazzle/pitch/generators/pptx_slides.py
Due: pytest-fast

fix(pitch): auto-scale long slide titles to prevent overlap with accent bar (#65)
  src/dazzle/pitch/generators/pptx_primitives.py
  src/dazzle/pitch/loader.py
Due: pytest-fast

fix(pitch): auto-scale stat box fonts to prevent text overflow (#66)
  src/dazzle/pitch/generators/pptx_primitives.py
Due: pytest-fast

fix(pitch): redesign financials slide with cards and consistent fonts (#67)
  src/dazzle/pitch/generators/pptx_slides.py
Due: pytest-fast

feat(pitch): add chart/timeline layouts, table indicators, and LLM creative hints (#68)
  src/dazzle/core/__init__.py
  src/dazzle/mcp/server/handlers/pitch.py
  src/dazzle/pitch/generators/pptx_gen.py
  src/dazzle/pitch/generators/pptx_primitives.py
  src/dazzle/pitch/generators/pptx_slides.py
  src/dazzle/pitch/ir.py
Due: pytest-fast, mcp-verify

feat(pitch): add update, enrich, and init_assets MCP operations (#69)
  src/dazzle/core/anti_turing.py
  src/dazzle/mcp/server/handlers/pitch.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  src/dazzle/pitch/extractor.py
  src/dazzle/pitch/generators/pptx_gen.py
  src/dazzle/pitch/loader.py
Due: pytest-fast, mcp-verify

fix(pitch): use quality-weighted completeness score instead of binary check
  src/dazzle/mcp/server/handlers/pitch.py
Due: pytest-fast, mcp-verify

fix(pitch): detect placeholder content and cap completeness score
  src/dazzle/mcp/server/handlers/pitch.py
Due: pytest-fast, mcp-verify

fix(mcp): report project version in MCP server identity and status
  src/dazzle/mcp/server/__init__.py
  src/dazzle/mcp/server/handlers/status.py
Due: pytest-fast, mcp-verify

feat(test): add e2e tests for server-rendered HTMX templates
  src/dazzle/core/anti_turing.py
  tests/integration/test_dnr_e2e.py
  tests/integration/test_template_pages.py
  tests/unit/test_template_rendering.py
Due: pytest-fast

fix(test): skip template tests when runtime modules unavailable in CI
  tests/integration/test_template_pages.py
  tests/unit/test_template_rendering.py
Due: none

fix(mypy): resolve pre-existing type errors in mcp server and cli bridge
  src/dazzle/core/cli_bridge.py
  src/dazzle/core/init_impl/dnr_ui.py
  src/dazzle/mcp/server/__init__.py
  src/dazzle/mcp/server/handlers/project.py
Due: pytest-fast, mcp-verify
