Repository manwithacat/dazzle: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, js-typecheck, js-tests, dsl-validate, pytest-fast, parser-corpus, pra-unit, mcp-verify, homebrew-validate, verify-pypi-urls

eslint:
  name: eslint
  entry: npx eslint
  language: system
  pass_filenames: true

js-typecheck:
  name: js-typecheck
  entry: npm run typecheck
  language: system
  pass_filenames: false

js-tests:
  name: js-tests
  entry: npx vitest run
  language: system
  pass_filenames: false

dsl-validate:
  name: dsl-validate
  entry: bash -c 'exit_code=0; for f in "$@"; do dir=$(dirname "$f"); while [ "$dir" != "." ] && [ ! -f "$dir/dsl/app.dsl" ]; do dir=$(dirname "$dir"); done; if [ -f "$dir/dsl/app.dsl" ]; then (cd "$dir" && python -m dazzle validate) || exit_code=1; fi; done; exit $exit_code' --
  ...

pytest-fast:
  name: pytest-fast
  entry: pytest tests/unit -x -q --tb=short -m "not slow"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

parser-corpus:
  name: parser-corpus
  entry: pytest tests/parser_corpus/ -x -q --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pra-unit:
  name: pra-unit
  entry: bash -c 'pytest tests/unit/test_pra*.py -x -q --tb=short -m "not slow"'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

mcp-verify:
  name: mcp-verify
  entry: python scripts/verify-mcp.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

homebrew-validate:
  name: homebrew-validate
  entry: ruby -c
  language: system
  pass_filenames: true
  stages:
  - pre-commit

verify-pypi-urls:
  name: verify-pypi-urls
  entry: bash scripts/verify-pypi-urls.sh
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(release): sync homebrew formula and CLI version to 0.19.0
  cli/package.json
  homebrew/dazzle.rb
Due: homebrew-validate, verify-pypi-urls

fix(feedback): direct bug reports to GitHub and fix boolean double-encoding
  src/dazzle/core/changes.py
  src/dazzle/core/llm_context.py
  src/dazzle/mcp/server/github_issues.py
  src/dazzle/mcp/server/handlers/feedback.py
  src/dazzle/mcp/server/handlers/fidelity.py
  src/dazzle_dnr_ui/runtime/template_renderer.py
Due: pytest-fast, mcp-verify

chore: gitignore third-party packages in src/
  .gitignore
Due: none

refactor(dnr-ui): remove legacy JS client runtime
  src/dazzle_dnr_ui/runtime/js_generator.py
  src/dazzle_dnr_ui/runtime/js_loader.py
  src/dazzle_dnr_ui/runtime/static/js/actions.js
  src/dazzle_dnr_ui/runtime/static/js/analytics.js
  src/dazzle_dnr_ui/runtime/static/js/api-client.js
  src/dazzle_dnr_ui/runtime/static/js/app.js
  src/dazzle_dnr_ui/runtime/static/js/bindings.js
  src/dazzle_dnr_ui/runtime/static/js/components.js
  src/dazzle_dnr_ui/runtime/static/js/components/task-header.js
  src/dazzle_dnr_ui/runtime/static/js/dazzle-bar/bar.js
  src/dazzle_dnr_ui/runtime/static/js/dazzle-bar/email-panel.js
  src/dazzle_dnr_ui/runtime/static/js/dazzle-bar/health-panel.js
  src/dazzle_dnr_ui/runtime/static/js/dazzle-bar/index.js
  src/dazzle_dnr_ui/runtime/static/js/dazzle-bar/runtime.js
  src/dazzle_dnr_ui/runtime/static/js/devtools.js
  src/dazzle_dnr_ui/runtime/static/js/dom.js
  src/dazzle_dnr_ui/runtime/static/js/index.js
  src/dazzle_dnr_ui/runtime/static/js/logger.js
  src/dazzle_dnr_ui/runtime/static/js/realtime.js
  src/dazzle_dnr_ui/runtime/static/js/renderer.js
  src/dazzle_dnr_ui/runtime/static/js/shell.js
  src/dazzle_dnr_ui/runtime/static/js/signals.js
  src/dazzle_dnr_ui/runtime/static/js/signals.test.js
  src/dazzle_dnr_ui/runtime/static/js/state.js
  src/dazzle_dnr_ui/runtime/static/js/theme.js
  src/dazzle_dnr_ui/runtime/static/js/toast.js
  src/dazzle_dnr_ui/runtime/static/js/tsconfig.json
  src/dazzle_dnr_ui/runtime/static/js/types.js
  src/dazzle_dnr_ui/tests/test_behaviour_layer.py
  src/dazzle_dnr_ui/tests/test_js_loader.py
  src/dazzle_dnr_ui/tests/test_runtime.py
  tests/e2e/test_semantic_dom_contract.py
Due: eslint, js-typecheck, js-tests

feat(dnr-ui): add server-rendered HTMX template system
  src/dazzle_dnr_ui/converters/template_compiler.py
  src/dazzle_dnr_ui/runtime/mock_data.py
  src/dazzle_dnr_ui/runtime/page_routes.py
  src/dazzle_dnr_ui/runtime/static_preview.py
  src/dazzle_dnr_ui/runtime/template_context.py
  src/dazzle_dnr_ui/templates/base.html
  src/dazzle_dnr_ui/templates/components/alpine/confirm_dialog.html
  src/dazzle_dnr_ui/templates/components/alpine/dropdown.html
  src/dazzle_dnr_ui/templates/components/detail_view.html
  src/dazzle_dnr_ui/templates/components/filterable_table.html
  src/dazzle_dnr_ui/templates/components/form.html
  src/dazzle_dnr_ui/templates/fragments/form_errors.html
  src/dazzle_dnr_ui/templates/fragments/status_badge.html
  src/dazzle_dnr_ui/templates/fragments/table_pagination.html
  src/dazzle_dnr_ui/templates/fragments/table_rows.html
  src/dazzle_dnr_ui/templates/layouts/app_shell.html
  src/dazzle_dnr_ui/templates/layouts/single_column.html
  src/dazzle_dnr_ui/templates/macros/form_field.html
  src/dazzle_dnr_ui/themes/token_compiler.py
Due: none

feat: migrate DNR pipeline to HTMX and add fidelity scoring
  examples/simple_task/dsl/app.dsl
  pyproject.toml
  src/dazzle/cli/dnr_impl/build.py
  src/dazzle/cli/dnr_impl/serve.py
  src/dazzle/core/fidelity_scorer.py
  src/dazzle/core/ir/__init__.py
  src/dazzle/core/ir/fidelity.py
  src/dazzle/mcp/server/handlers/process.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  src/dazzle_dnr_back/runtime/route_generator.py
  src/dazzle_dnr_ui/converters/__init__.py
  src/dazzle_dnr_ui/converters/workspace_converter.py
  src/dazzle_dnr_ui/runtime/__init__.py
  src/dazzle_dnr_ui/runtime/combined_server.py
  src/dazzle_dnr_ui/runtime/dev_server.py
  src/dazzle_dnr_ui/runtime/hot_reload.py
  src/dazzle_dnr_ui/runtime/realtime_client.py
  src/dazzle_dnr_ui/tests/test_combined_server.py
  tests/e2e/test_dnr_serve.py
  tests/integration/test_dnr_pipeline.py
  tests/integration/test_fidelity_integration.py
  tests/unit/test_control_plane.py
  tests/unit/test_dark_mode_toggle.py
  tests/unit/test_fidelity_scorer.py
Due: dsl-validate, pytest-fast, mcp-verify

chore: fix gitignore pattern for src/six.py
  .gitignore
Due: none

feat(dnr-ui): add HTMX+Alpine interaction patterns
  src/dazzle_dnr_ui/runtime/template_context.py
  src/dazzle_dnr_ui/templates/components/alpine/slide_over.html
  src/dazzle_dnr_ui/templates/components/filterable_table.html
  src/dazzle_dnr_ui/templates/fragments/bulk_actions.html
  src/dazzle_dnr_ui/templates/fragments/inline_edit.html
  src/dazzle_dnr_ui/templates/fragments/search_input.html
Due: none

docs: update README and architecture for HTMX migration
  README.md
  docs/architecture/overview.md
  docs/index.md
  docs/llms-full.txt
  docs/llms.txt
  src/dazzle/core/llm_context.py
Due: pytest-fast

fix: wrap long line in entity parser to satisfy E501
  src/dazzle/core/dsl_parser_impl/entity.py
Due: pytest-fast, parser-corpus

docs: clean up README for v0.19 current state and roadmap
  README.md
Due: none

fix(ci): remove stale JS runtime jobs and fix fidelity test import
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  tests/integration/test_fidelity_integration.py
Due: none

fix(ci): skip template page tests when fastapi not installed
  tests/integration/test_template_pages.py
Due: none

fix(ci): remove semantic E2E job referencing deleted test file
  .github/workflows/ci.yml
Due: none

feat(ci): mainstream E2E infrastructure for HTMX templates
  .github/workflows/ci.yml
  pyproject.toml
  tests/integration/test_template_pages.py
Due: none

fix(ci): add server log capture to P0 E2E startup diagnostics
  .github/workflows/ci.yml
Due: none

fix(ci): mark P0 E2E as advisory until DOM contract is aligned
  .github/workflows/ci.yml
Due: none

feat(e2e): add data-dazzle attributes to HTMX templates and fix test codegen routes
  examples/simple_task/tests/e2e/test_simple_task_generated.py
  src/dazzle/core/dsl_parser_impl/entity.py
  src/dazzle/testing/playwright_codegen.py
  src/dazzle_dnr_ui/converters/template_compiler.py
  src/dazzle_dnr_ui/runtime/template_context.py
  src/dazzle_dnr_ui/templates/components/detail_view.html
  src/dazzle_dnr_ui/templates/components/filterable_table.html
  src/dazzle_dnr_ui/templates/components/form.html
  src/dazzle_dnr_ui/templates/fragments/form_errors.html
  src/dazzle_dnr_ui/templates/fragments/table_rows.html
  src/dazzle_dnr_ui/templates/layouts/app_shell.html
  src/dazzle_dnr_ui/templates/macros/form_field.html
  tests/integration/test_template_pages.py
  tests/unit/test_playwright_codegen.py
Due: pytest-fast, parser-corpus

feat(e2e): generate conftest.py alongside E2E test files
  examples/simple_task/tests/e2e/conftest.py
  examples/simple_task/tests/e2e/test_simple_task_generated.py
  src/dazzle/testing/playwright_codegen.py
Due: pytest-fast

fix(e2e): align runtime test executor routes and selectors with HTMX templates
  src/dazzle/cli/testing.py
  src/dazzle/testing/e2e_runner.py
  src/dazzle_e2e/adapters/dnr.py
  tests/unit/test_e2e_harness.py
Due: pytest-fast

fix(dnr): load HTMX json-enc extension and accept form-encoded fallback
  src/dazzle_dnr_back/runtime/route_generator.py
  src/dazzle_dnr_ui/templates/base.html
Due: none

fix(e2e): align testspec generator with DOM contract for all 17 P0 flows
  examples/simple_task/tests/e2e/test_simple_task_generated.py
  src/dazzle/cli/testing.py
  src/dazzle/testing/e2e_runner.py
  src/dazzle/testing/testspec_generator.py
  src/dazzle_dnr_ui/converters/template_compiler.py
  src/dazzle_dnr_ui/runtime/template_context.py
  src/dazzle_dnr_ui/templates/components/detail_view.html
Due: pytest-fast

fix(e2e): pass created fixture IDs through all E2E execution paths
  src/dazzle/cli/testing.py
  src/dazzle_e2e/adapters/dnr.py
Due: pytest-fast

fix(e2e): resolve fixture deps, state-specific fixtures, ref field handling
  src/dazzle/cli/testing.py
  src/dazzle/testing/e2e_runner.py
  src/dazzle/testing/testspec_generator.py
Due: pytest-fast

fix(e2e): empty string→None in API, snapshot-based transition assertions, transition URL fix
  src/dazzle/cli/testing.py
  src/dazzle_dnr_back/runtime/route_generator.py
  src/dazzle_dnr_ui/runtime/combined_server.py
Due: pytest-fast

fix(e2e): skip surfaceless entity flows, fix update flow path, remove guard fill steps
  examples/simple_task/tests/e2e/test_simple_task_generated.py
  src/dazzle/testing/testspec_generator.py
  tests/unit/test_testspec_generator.py
Due: pytest-fast

fix(e2e): skip role-guarded transitions in E2E tests (no auth context)
  examples/simple_task/tests/e2e/test_simple_task_generated.py
  src/dazzle/testing/testspec_generator.py
Due: pytest-fast

fix(e2e): bypass auth in test mode so E2E tests work for auth-enabled apps
  src/dazzle_dnr_back/runtime/server.py
Due: none

refactor: single-source version from pyproject.toml for all components
  homebrew/dazzle-simple.rb
  homebrew/dazzle.rb
  package.json
  scripts/bump-version.py
  src/dazzle/__init__.py
  src/dazzle/_version.py
  src/dazzle/cli/utils.py
  src/dazzle/core/dsl_parser_impl/process.py
  src/dazzle/mcp/semantics_kb/__init__.py
  src/dazzle/mcp/semantics_kb/core.toml
  src/dazzle/mcp/server/glossary.py
  src/dazzle_dnr_back/__init__.py
  src/dazzle_dnr_ui/__init__.py
Due: pytest-fast, parser-corpus, mcp-verify, homebrew-validate, verify-pypi-urls

feat: fragment-as-component model with search_select and interaction fidelity
  .claude/commands/ship.md
  src/dazzle/core/dsl_parser_impl/scenario.py
  src/dazzle/core/fidelity_scorer.py
  src/dazzle/core/ir/fidelity.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle_dnr_back/runtime/fragment_routes.py
  src/dazzle_dnr_back/runtime/server.py
  src/dazzle_dnr_ui/runtime/fragment_registry.py
  src/dazzle_dnr_ui/runtime/template_context.py
  src/dazzle_dnr_ui/templates/fragments/search_results.html
  src/dazzle_dnr_ui/templates/fragments/search_select.html
  src/dazzle_dnr_ui/templates/macros/form_field.html
  tests/unit/test_fidelity_scorer.py
Due: pytest-fast, parser-corpus, mcp-verify

feat: API pack → fragment source bridge with DSL source= syntax
  docs/reference/grammar.md
  src/dazzle/api_kb/loader.py
  src/dazzle/core/dsl_parser_impl/surface.py
  src/dazzle/core/fidelity_scorer.py
  src/dazzle/core/init_impl/spec.py
  src/dazzle/mcp/server/tools_consolidated.py
  src/dazzle_dnr_back/runtime/server.py
  src/dazzle_dnr_ui/converters/template_compiler.py
  tests/unit/test_api_kb.py
  tests/unit/test_parser.py
  tests/unit/test_template_compiler.py
Due: pytest-fast, parser-corpus, mcp-verify

fix: wire fragment sources from appspec surfaces to backend server
  examples/fieldtest_hub/dsl/app.dsl
  src/dazzle_dnr_back/runtime/server.py
  src/dazzle_dnr_ui/runtime/combined_server.py
Due: dsl-validate

feat: spec-aware interaction fidelity for source= fields and README docs
  README.md
  src/dazzle/core/fidelity_scorer.py
  src/dazzle/core/ir/fidelity.py
  tests/unit/test_fidelity_scorer.py
  tests/unit/test_fragment_registry.py
Due: pytest-fast

refactor: codebase cleanup — split tool_handlers, register all fragments, update docs
  README.md
  ROADMAP.md
  src/dazzle/core/environment.py
  src/dazzle/mcp/server/handlers/demo_data.py
  src/dazzle/mcp/server/handlers/dsl_test.py
  src/dazzle/mcp/server/handlers/sitespec.py
  src/dazzle/mcp/server/handlers/test_design.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tool_handlers.py
  src/dazzle_dnr_ui/components/__init__.py
  src/dazzle_dnr_ui/components/patterns/__init__.py
  src/dazzle_dnr_ui/components/primitives/__init__.py
  src/dazzle_dnr_ui/runtime/fragment_registry.py
  tests/unit/test_fragment_registry.py
Due: pytest-fast, mcp-verify

feat: Founder Console — HTMX + DaisyUI control plane at /_console/
  src/dazzle/core/init_impl/spec.py
  src/dazzle_dnr_back/runtime/console_routes.py
  src/dazzle_dnr_back/runtime/deploy_history.py
  src/dazzle_dnr_back/runtime/deploy_routes.py
  src/dazzle_dnr_back/runtime/ops_integration.py
  src/dazzle_dnr_back/runtime/rollback_manager.py
  src/dazzle_dnr_back/runtime/server.py
  src/dazzle_dnr_back/runtime/spec_versioning.py
  src/dazzle_dnr_ui/templates/console/app_map.html
  src/dazzle_dnr_ui/templates/console/base_console.html
  src/dazzle_dnr_ui/templates/console/changes.html
  src/dazzle_dnr_ui/templates/console/dashboard.html
  src/dazzle_dnr_ui/templates/console/deploy.html
  src/dazzle_dnr_ui/templates/console/login.html
  src/dazzle_dnr_ui/templates/console/partials/api_performance.html
  src/dazzle_dnr_ui/templates/console/partials/cost_indicators.html
  src/dazzle_dnr_ui/templates/console/partials/deploy_history.html
  src/dazzle_dnr_ui/templates/console/partials/deploy_progress.html
  src/dazzle_dnr_ui/templates/console/partials/entity_list.html
  src/dazzle_dnr_ui/templates/console/partials/error_summary.html
  src/dazzle_dnr_ui/templates/console/partials/health_cards.html
  src/dazzle_dnr_ui/templates/console/partials/integration_list.html
  src/dazzle_dnr_ui/templates/console/partials/preflight_results.html
  src/dazzle_dnr_ui/templates/console/partials/rollback_confirm.html
  src/dazzle_dnr_ui/templates/console/partials/spec_diff.html
  src/dazzle_dnr_ui/templates/console/partials/surface_list.html
  src/dazzle_dnr_ui/templates/console/partials/version_timeline.html
  src/dazzle_dnr_ui/templates/console/performance.html
Due: pytest-fast

feat: lazy loading for dsl(operation='get_spec')
  src/dazzle/mcp/server/handlers/stories.py
  src/dazzle/mcp/server/tools_consolidated.py
Due: pytest-fast, mcp-verify

chore: add /bump slash command and bump version to 0.19.1
  .claude/CLAUDE.md
  .claude/commands/bump.md
  ROADMAP.md
  pyproject.toml
  src/dazzle/mcp/semantics_kb/core.toml
Due: none

feat: v0.20 — Dazzle Bar HTMX, FragmentContext, Integration Runtime, Workspace Layouts
  ROADMAP.md
  src/dazzle/core/init_impl/spec.py
  src/dazzle_dnr_back/runtime/control_plane.py
  src/dazzle_dnr_back/runtime/fragment_routes.py
  src/dazzle_dnr_back/runtime/integration_executor.py
  src/dazzle_dnr_back/runtime/server.py
  src/dazzle_dnr_ui/converters/template_compiler.py
  src/dazzle_dnr_ui/runtime/combined_server.py
  src/dazzle_dnr_ui/runtime/fragment_registry.py
  src/dazzle_dnr_ui/runtime/template_context.py
  src/dazzle_dnr_ui/runtime/workspace_renderer.py
  src/dazzle_dnr_ui/templates/base.html
  src/dazzle_dnr_ui/templates/dazzle_bar/bar.html
  src/dazzle_dnr_ui/templates/dazzle_bar/partials/feedback_modal.html
  src/dazzle_dnr_ui/templates/dazzle_bar/partials/health_dot.html
  src/dazzle_dnr_ui/templates/dazzle_bar/partials/inspector_panel.html
  src/dazzle_dnr_ui/templates/dazzle_bar/partials/persona_switcher.html
  src/dazzle_dnr_ui/templates/dazzle_bar/partials/scenario_switcher.html
  src/dazzle_dnr_ui/templates/workspace/regions/detail.html
  src/dazzle_dnr_ui/templates/workspace/regions/grid.html
  src/dazzle_dnr_ui/templates/workspace/regions/list.html
  src/dazzle_dnr_ui/templates/workspace/regions/metrics.html
  src/dazzle_dnr_ui/templates/workspace/workspace.html
Due: pytest-fast

fix: sync CLI package.json version to 0.19.1
  cli/package.json
Due: none

Path conditions:
  eslint: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$, but not: \.test\.js$
  js-typecheck: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$
  js-tests: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$
  dsl-validate: any of: \.dsl$, but not: (templates/|_archive/)
  pytest-fast: any of: ^src/dazzle/.*\.py$
  parser-corpus: any of: ^(src/dazzle/core/dsl_parser.*\.py|tests/parser_corpus/|tests/corpora/)
  pra-unit: any of: ^(src/dazzle_dnr_back/pra/|src/dazzle_dnr_back/events/|src/dazzle_dnr_back/metrics/|tests/unit/test_pra)
  mcp-verify: any of: ^src/dazzle/mcp/.*\.py$
  homebrew-validate: any of: ^homebrew/.*\.rb$
  verify-pypi-urls: any of: ^(homebrew/.*\.rb|\.github/workflows/release-cli\.yml)$
