Repository manwithacat/dazzle: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, js-typecheck, js-tests, dsl-validate, pytest-fast, parser-corpus, pra-unit, mcp-verify, homebrew-validate, verify-pypi-urls

eslint:
  name: eslint
  entry: npx eslint
  language: system
  pass_filenames: true

js-typecheck:
  name: js-typecheck
  entry: npm run typecheck
  language: system
  pass_filenames: false

js-tests:
  name: js-tests
  entry: npx vitest run
  language: system
  pass_filenames: false

dsl-validate:
  name: dsl-validate
  entry: bash -c 'exit_code=0; for f in "$@"; do dir=$(dirname "$f"); while [ "$dir" != "." ] && [ ! -f "$dir/dsl/app.dsl" ]; do dir=$(dirname "$dir"); done; if [ -f "$dir/dsl/app.dsl" ]; then (cd "$dir" && python -m dazzle validate) || exit_code=1; fi; done; exit $exit_code' --
  ...

pytest-fast:
  name: pytest-fast
  entry: pytest tests/unit -x -q --tb=short -m "not slow"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

parser-corpus:
  name: parser-corpus
  entry: pytest tests/parser_corpus/ -x -q --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pra-unit:
  name: pra-unit
  entry: bash -c 'pytest tests/unit/test_pra*.py -x -q --tb=short -m "not slow"'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

mcp-verify:
  name: mcp-verify
  entry: python scripts/verify-mcp.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

homebrew-validate:
  name: homebrew-validate
  entry: ruby -c
  language: system
  pass_filenames: true
  stages:
  - pre-commit

verify-pypi-urls:
  name: verify-pypi-urls
  entry: bash scripts/verify-pypi-urls.sh
  language: system
  pass_filenames: true
  stages:
  - pre-push

Add unit tests for status, project, and knowledge MCP handlers
  tests/unit/mcp/test_knowledge_handlers.py
  tests/unit/mcp/test_project_handlers.py
  tests/unit/mcp/test_status_handlers.py
Due: none

Add unit tests for api_packs and feedback MCP handlers
  tests/unit/mcp/test_api_packs_handlers.py
  tests/unit/mcp/test_feedback_handlers.py
Due: none

Add unit tests for sitespec and fidelity MCP handlers
  tests/unit/mcp/test_fidelity_handlers.py
  tests/unit/mcp/test_sitespec_handlers.py
Due: none

Bump version to 0.21.1
  .claude/CLAUDE.md
  ROADMAP.md
  cli/package.json
  pyproject.toml
  src/dazzle/mcp/semantics_kb/core.toml
Due: none

Fix MCP import tests to bypass dazzle.mcp.__init__
  tests/unit/test_contribution_handler.py
  tests/unit/test_guard_extraction.py
  tests/unit/test_mcp_setup.py
  tests/unit/test_process_coverage.py
  tests/unit/test_process_diagram.py
  tests/unit/test_process_propose.py
  tests/unit/test_tenancy_inference.py
Due: none

Add experience/wizard concept to MCP knowledge layer
  src/dazzle/core/process/celery_adapter.py
  src/dazzle/mcp/examples.py
  src/dazzle/mcp/semantics_kb/__init__.py
  src/dazzle/mcp/semantics_kb/core.toml
  src/dazzle/mcp/server/glossary.py
Due: pytest-fast, mcp-verify

Fix pytest collection crash from MagicMock pytest_plugins attribute
  tests/unit/mcp/test_api_packs_handlers.py
  tests/unit/mcp/test_demo_data_handlers.py
  tests/unit/mcp/test_dsl_test_handlers.py
  tests/unit/mcp/test_feedback_handlers.py
  tests/unit/mcp/test_fidelity_handlers.py
  tests/unit/mcp/test_knowledge_handlers.py
  tests/unit/mcp/test_project_handlers.py
  tests/unit/mcp/test_sitespec_handlers.py
  tests/unit/mcp/test_spec_analyze_handlers.py
  tests/unit/mcp/test_status_handlers.py
  tests/unit/mcp/test_stories_handlers.py
  tests/unit/mcp/test_test_design_handlers.py
  tests/unit/mcp/test_user_management_handlers.py
  tests/unit/test_contribution_handler.py
  tests/unit/test_guard_extraction.py
  tests/unit/test_mcp_setup.py
  tests/unit/test_process_coverage.py
  tests/unit/test_process_diagram.py
  tests/unit/test_process_propose.py
  tests/unit/test_tenancy_inference.py
Due: none

Fix sys.modules pollution causing ~225 CI test failures
  tests/unit/conftest.py
  tests/unit/test_contribution_handler.py
  tests/unit/test_github_issues.py
  tests/unit/test_guard_extraction.py
  tests/unit/test_mcp_process_tools.py
  tests/unit/test_mcp_setup.py
  tests/unit/test_pitch_loader.py
  tests/unit/test_process_coverage.py
  tests/unit/test_process_diagram.py
  tests/unit/test_process_propose.py
  tests/unit/test_project_roots.py
  tests/unit/test_runtime_mcp_tools.py
  tests/unit/test_stories.py
  tests/unit/test_tenancy_inference.py
  tests/unit/test_test_design_validation.py
  tests/unit/test_unified_issues.py
Due: none

Fix tests/unit/mcp/ shadowing real mcp package and improve conftest
  tests/unit/conftest.py
  tests/unit/mcp/__init__.py
  tests/unit/mcp/test_api_packs_handlers.py
Due: none

Remove Dazzle Bar overlay and all feedback mechanisms
  examples/fieldtest_hub/tests/e2e/test_dazzle_bar.py
  scripts/verify-mcp.py
  src/dazzle/cli/runtime_impl/serve.py
  src/dazzle/core/environment.py
  src/dazzle/core/manifest.py
  src/dazzle/core/sitespec_loader.py
  src/dazzle/mcp/server/handlers/__init__.py
  src/dazzle/mcp/server/handlers/feedback.py
  src/dazzle/mcp/server/handlers/mailpit.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools.py
  src/dazzle/mcp/server/tools_consolidated.py
  src/dazzle/testing/tier2_playwright.py
  src/dazzle_back/runtime/control_plane.py
  src/dazzle_back/runtime/feedback.py
  src/dazzle_back/runtime/server.py
  src/dazzle_ui/runtime/combined_server.py
  src/dazzle_ui/templates/dazzle_bar/bar.html
  src/dazzle_ui/templates/dazzle_bar/partials/feedback_modal.html
  src/dazzle_ui/templates/dazzle_bar/partials/health_dot.html
  src/dazzle_ui/templates/dazzle_bar/partials/inspector_panel.html
  src/dazzle_ui/templates/dazzle_bar/partials/persona_switcher.html
  src/dazzle_ui/templates/dazzle_bar/partials/scenario_switcher.html
  tests/unit/mcp/test_feedback_handlers.py
  tests/unit/test_control_plane.py
Due: pytest-fast, mcp-verify

Add dazzle auth CLI and expose user_management MCP tool
  src/dazzle/cli/__init__.py
  src/dazzle/cli/auth.py
  src/dazzle/mcp/server/handlers/user_management.py
  src/dazzle/mcp/server/tools_consolidated.py
  src/dazzle_back/runtime/auth.py
  tests/unit/test_cli_auth.py
Due: pytest-fast, mcp-verify

Fix PostgreSQL text vs timestamp mismatch in session expiry queries
  src/dazzle/cli/auth.py
  src/dazzle/mcp/server/handlers/user_management.py
  src/dazzle_back/runtime/auth.py
Due: pytest-fast, mcp-verify

Fix auto_populate creating duplicate stories on repeated runs
  src/dazzle/mcp/server/handlers_consolidated.py
Due: pytest-fast, mcp-verify

Fix dashboard navigation, auth UI, collapsible sidebar, and DataTable filtering
  src/dazzle/core/frontend_spec_export.py
  src/dazzle/core/sitespec_loader.py
  src/dazzle/mcp/inference_kb.toml
  src/dazzle/mcp/server/handlers/bootstrap.py
  src/dazzle/mcp/server/handlers/dsl.py
  src/dazzle/mcp/server/handlers/stories.py
  src/dazzle_back/runtime/route_generator.py
  src/dazzle_back/runtime/server.py
  src/dazzle_back/runtime/service_generator.py
  src/dazzle_ui/converters/template_compiler.py
  src/dazzle_ui/runtime/page_routes.py
  src/dazzle_ui/runtime/static/js/datatable.js
  src/dazzle_ui/runtime/template_context.py
  src/dazzle_ui/templates/components/filterable_table.html
  src/dazzle_ui/templates/fragments/filter_bar.html
  src/dazzle_ui/templates/fragments/search_input.html
  src/dazzle_ui/templates/fragments/table_pagination.html
  src/dazzle_ui/templates/fragments/table_rows.html
  src/dazzle_ui/templates/layouts/app_shell.html
  tests/unit/test_datatable_compiler.py
  tests/unit/test_datatable_handler.py
Due: pytest-fast, mcp-verify

Add runtime capabilities MCP resource and lint hints for missing UX blocks
  docs/reference/runtime-capabilities.md
  src/dazzle/core/validator.py
  src/dazzle/mcp/resources.py
  src/dazzle/mcp/server/__init__.py
Due: pytest-fast, mcp-verify

Add UX blocks to all example app list surfaces and warn on export_frontend_spec
  examples/llm_ticket_classifier/dsl/app.dsl
  examples/ops_dashboard/dsl/app.dsl
  examples/pra/dsl/surfaces.dsl
  examples/simple_task/dsl/app.dsl
  examples/support_tickets/dsl/app.dsl
  src/dazzle/mcp/server/tools_consolidated.py
Due: dsl-validate, pytest-fast, mcp-verify

Improve MCP knowledge discoverability for DataTable, LLM, financial, and testing concepts
  src/dazzle/mcp/inference.py
  src/dazzle/mcp/inference_kb.toml
  src/dazzle/mcp/semantics_kb/__init__.py
  src/dazzle/mcp/semantics_kb/core.toml
  src/dazzle/mcp/semantics_kb/misc.toml
  src/dazzle/mcp/semantics_kb/ux.toml
Due: pytest-fast, mcp-verify

Fix workspace routes, wire region filters/sort/aggregates, and enrich MCP cognition
  src/dazzle/core/validator.py
  src/dazzle/mcp/inference_kb.toml
  src/dazzle/mcp/semantics_kb/__init__.py
  src/dazzle/mcp/semantics_kb/core.toml
  src/dazzle_back/runtime/server.py
  src/dazzle_ui/converters/__init__.py
  src/dazzle_ui/runtime/workspace_renderer.py
  src/dazzle_ui/templates/workspace/regions/grid.html
  src/dazzle_ui/templates/workspace/regions/list.html
  tests/unit/test_workspace_routes.py
Due: pytest-fast, mcp-verify

Refactor CRUD route auth to use FastAPI Depends() instead of hand-rolled callable injection
  src/dazzle/core/validator.py
  src/dazzle_back/runtime/route_generator.py
  src/dazzle_back/runtime/server.py
  tests/unit/test_session_cookie_auth.py
Due: pytest-fast

Fix dsl_test run --base_url executing 0 tests by wiring all MCP params
  src/dazzle/core/validator.py
  src/dazzle/mcp/server/handlers/dsl_test.py
  src/dazzle/testing/test_runner.py
  src/dazzle/testing/unified_runner.py
Due: pytest-fast, mcp-verify

Fix 53 mypy errors in test_runner.py and unified_runner.py
  src/dazzle/deploy/preflight/stages/assertions.py
  src/dazzle/testing/event_test_runner.py
  src/dazzle/testing/test_runner.py
  src/dazzle/testing/unified_runner.py
Due: pytest-fast

Fix stop hook 471 false-positive lints and pre-commit unsafe-fixes mismatch
  .claude/hooks/smart_stop.py
  .pre-commit-config.yaml
Due: none

Fix psycopg2 execute crash on Postgres and lint for unroutable workspaces (#123, #120)
  src/dazzle/core/validator.py
  src/dazzle_back/runtime/migrations.py
  src/dazzle_back/runtime/repository.py
  src/dazzle_ui/converters/__init__.py
Due: pytest-fast

Fix all 87 mypy errors across 10 files for clean type checking
  src/dazzle/deploy/analyzer.py
  src/dazzle/pitch/extractor.py
  src/dazzle/pitch/generators/pptx_slides.py
  src/dazzle/testing/agent_e2e.py
  src/dazzle/testing/dsl_test_generator.py
  src/dazzle/testing/e2e_runner.py
  src/dazzle/testing/event_test_runner.py
  src/dazzle/testing/stress_test.py
  src/dazzle/testing/test_generator.py
  src/dazzle/testing/tier2_playwright.py
  tests/unit/test_deploy_analyzer.py
Due: pytest-fast

Fix remaining 8 conn.execute() calls in repository.py for Postgres compat (#123)
  src/dazzle_back/runtime/repository.py
Due: none

Fix 5 pre-existing mypy errors in repository.py
  src/dazzle_back/runtime/repository.py
Due: none

Fix 14 mypy errors in CI: cross-environment type ignore for optional deps
  src/dazzle_back/graphql/integration.py
  src/dazzle_back/graphql/resolver_generator.py
  src/dazzle_back/graphql/schema_generator.py
  src/dazzle_back/runtime/image_processor.py
  src/dazzle_back/runtime/jwt_auth.py
Due: none

Fix workspace routes 404: pass workspaces from AppSpec through to BackendSpec (#120)
  src/dazzle_back/converters/__init__.py
  src/dazzle_back/runtime/server.py
  src/dazzle_back/specs/backend_spec.py
Due: none

Fix workspace-prefixed entity routes and DSL test runner auth (#120, #124)
  src/dazzle/testing/test_runner.py
  src/dazzle_back/runtime/server.py
  src/dazzle_back/runtime/test_routes.py
Due: pytest-fast

Fix cross-environment mypy: use multi-code type ignore for api_route decorator
  src/dazzle_back/runtime/server.py
Due: none

Fix Postgres boolean DatatypeMismatch: use backend-aware value converter (#125)
  src/dazzle_back/runtime/repository.py
Due: none

Fix Postgres compat: parameterize booleans in device_registry and query_builder
  src/dazzle_back/runtime/device_registry.py
  src/dazzle_back/runtime/query_builder.py
Due: none

Add workspace region rendering capabilities: badges, sort, filters, type-aware display (#126)
  src/dazzle_back/runtime/server.py
  src/dazzle_ui/runtime/workspace_renderer.py
  src/dazzle_ui/templates/workspace/regions/detail.html
  src/dazzle_ui/templates/workspace/regions/grid.html
  src/dazzle_ui/templates/workspace/regions/list.html
  src/dazzle_ui/templates/workspace/regions/metrics.html
  tests/unit/test_workspace_routes.py
Due: none

Fix outdated CLAUDE.md: correct file paths, examples, constructs, and MCP tools
  .claude/CLAUDE.md
Due: none

Add capability discovery system: generic agent, KG extensions, discovery mission, MCP tools, compiler, and DSL emitter
  src/dazzle/agent/__init__.py
  src/dazzle/agent/compiler.py
  src/dazzle/agent/core.py
  src/dazzle/agent/emitter.py
  src/dazzle/agent/executor.py
  src/dazzle/agent/missions/__init__.py
  src/dazzle/agent/missions/discovery.py
  src/dazzle/agent/missions/testing.py
  src/dazzle/agent/models.py
  src/dazzle/agent/observer.py
  src/dazzle/agent/transcript.py
  src/dazzle/mcp/knowledge_graph/handlers.py
  src/dazzle/mcp/knowledge_graph/store.py
  src/dazzle/mcp/server/handlers/discovery.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  src/dazzle/testing/agent_e2e.py
  tests/unit/test_agent_discovery.py
  tests/unit/test_discovery_handler.py
  tests/unit/test_dsl_emitter.py
  tests/unit/test_knowledge_graph.py
  tests/unit/test_narrative_compiler.py
Due: pytest-fast, mcp-verify

Add discovery modes: entity_completeness and workflow_coherence
  src/dazzle/agent/missions/__init__.py
  src/dazzle/agent/missions/entity_completeness.py
  src/dazzle/agent/missions/workflow_coherence.py
  src/dazzle/mcp/server/handlers/discovery.py
  src/dazzle/mcp/server/tools_consolidated.py
  tests/unit/test_entity_completeness.py
  tests/unit/test_workflow_coherence.py
Due: pytest-fast, mcp-verify

Refactor discovery missions: extract shared helpers, deduplicate code
  src/dazzle/agent/compiler.py
  src/dazzle/agent/emitter.py
  src/dazzle/agent/missions/_shared.py
  src/dazzle/agent/missions/discovery.py
  src/dazzle/agent/missions/entity_completeness.py
  src/dazzle/agent/missions/workflow_coherence.py
  src/dazzle/mcp/server/handlers/discovery.py
  tests/unit/test_agent_discovery.py
  tests/unit/test_entity_completeness.py
  tests/unit/test_workflow_coherence.py
Due: pytest-fast, mcp-verify

Add discovery tool discoverability: context, workflows, concepts, inference, cross-tool hints
  src/dazzle/mcp/cli_help.py
  src/dazzle/mcp/inference.py
  src/dazzle/mcp/inference_kb.toml
  src/dazzle/mcp/prompts.py
  src/dazzle/mcp/semantics_kb/testing.toml
  src/dazzle/mcp/server/handlers/dsl.py
  src/dazzle/mcp/server/handlers/fidelity.py
  src/dazzle/mcp/server/handlers/process.py
Due: pytest-fast, mcp-verify

Add unified KG architecture with import/export and TOML seed pipeline
  .claude/CLAUDE.md
  .claude/commands/cimonitor.md
  .claude/commands/ship.md
  ROADMAP.md
  cli/package.json
  pyproject.toml
  src/dazzle/cli/__init__.py
  src/dazzle/cli/kg.py
  src/dazzle/mcp/inference.py
  src/dazzle/mcp/knowledge_graph/__init__.py
  src/dazzle/mcp/knowledge_graph/seed.py
  src/dazzle/mcp/knowledge_graph/store.py
  src/dazzle/mcp/semantics_kb/__init__.py
  src/dazzle/mcp/semantics_kb/core.toml
  src/dazzle/mcp/server/handlers/project.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/state.py
  src/dazzle/mcp/server/tools_consolidated.py
  tests/unit/test_kg_concept_lookup.py
  tests/unit/test_kg_import_export.py
  tests/unit/test_kg_inference_lookup.py
  tests/unit/test_kg_seed.py
  tests/unit/test_knowledge_graph.py
Due: pytest-fast, mcp-verify

Path conditions:
  eslint: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$, but not: \.test\.js$
  js-typecheck: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$
  js-tests: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$
  dsl-validate: any of: \.dsl$, but not: (templates/|_archive/)
  pytest-fast: any of: ^src/dazzle/.*\.py$
  parser-corpus: any of: ^(src/dazzle/core/dsl_parser.*\.py|tests/parser_corpus/|tests/corpora/)
  pra-unit: any of: ^(src/dazzle_dnr_back/pra/|src/dazzle_dnr_back/events/|src/dazzle_dnr_back/metrics/|tests/unit/test_pra)
  mcp-verify: any of: ^src/dazzle/mcp/.*\.py$
  homebrew-validate: any of: ^homebrew/.*\.rb$
  verify-pypi-urls: any of: ^(homebrew/.*\.rb|\.github/workflows/release-cli\.yml)$
