Repository manwithacat/dazzle: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, js-typecheck, js-tests, dsl-validate, pytest-fast, parser-corpus, pra-unit, mcp-verify, homebrew-validate, verify-pypi-urls

eslint:
  name: eslint
  entry: npx eslint
  language: system
  pass_filenames: true

js-typecheck:
  name: js-typecheck
  entry: npm run typecheck
  language: system
  pass_filenames: false

js-tests:
  name: js-tests
  entry: npx vitest run
  language: system
  pass_filenames: false

dsl-validate:
  name: dsl-validate
  entry: bash -c 'exit_code=0; for f in "$@"; do dir=$(dirname "$f"); while [ "$dir" != "." ] && [ ! -f "$dir/dsl/app.dsl" ]; do dir=$(dirname "$dir"); done; if [ -f "$dir/dsl/app.dsl" ]; then (cd "$dir" && python -m dazzle validate) || exit_code=1; fi; done; exit $exit_code' --
  ...

pytest-fast:
  name: pytest-fast
  entry: pytest tests/unit -x -q --tb=short -m "not slow"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

parser-corpus:
  name: parser-corpus
  entry: pytest tests/parser_corpus/ -x -q --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pra-unit:
  name: pra-unit
  entry: bash -c 'pytest tests/unit/test_pra*.py -x -q --tb=short -m "not slow"'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

mcp-verify:
  name: mcp-verify
  entry: python scripts/verify-mcp.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

homebrew-validate:
  name: homebrew-validate
  entry: ruby -c
  language: system
  pass_filenames: true
  stages:
  - pre-commit

verify-pypi-urls:
  name: verify-pypi-urls
  entry: bash scripts/verify-pypi-urls.sh
  language: system
  pass_filenames: true
  stages:
  - pre-push

feat: Add DAZZLE_ENABLE_PROCESSES env var (#97)
  src/dazzle_back/runtime/server.py
Due: none

feat: Add CeleryProcessAdapter for Heroku/Redis deployments
  pyproject.toml
  src/dazzle/core/process/__init__.py
  src/dazzle/core/process/celery_adapter.py
  src/dazzle/core/process/celery_state.py
  src/dazzle/core/process/celery_tasks.py
  src/dazzle_back/runtime/server.py
Due: pytest-fast

fix: Correct type annotations in Celery process adapter
  src/dazzle/core/process/celery_adapter.py
  src/dazzle/core/process/celery_state.py
  src/dazzle/core/process/celery_tasks.py
Due: pytest-fast

fix: Add mypy override for Celery untyped decorators
  pyproject.toml
  src/dazzle/core/process/celery_tasks.py
Due: pytest-fast

feat: Add CeleryProcessAdapter for Heroku/Redis deployments (#96)
  pyproject.toml
  src/dazzle/core/process/__init__.py
  src/dazzle/core/process/celery_adapter.py
  src/dazzle/core/process/celery_state.py
  src/dazzle/core/process/celery_tasks.py
  src/dazzle_back/runtime/server.py
Due: pytest-fast

feat: Add PostgreSQL support to FileMetadataStore and EventOutbox
  src/dazzle_back/events/outbox.py
  src/dazzle_back/runtime/file_storage.py
Due: none

feat: Add PostgreSQL support to FileMetadataStore and EventOutbox (#102)
  src/dazzle_back/events/outbox.py
  src/dazzle_back/runtime/file_storage.py
Due: none

feat: Add built-in Control Plane for observability (#101)
  src/dazzle_back/control_plane/__init__.py
  src/dazzle_back/control_plane/api.py
  src/dazzle_back/control_plane/app.py
  src/dazzle_back/control_plane/auth.py
  src/dazzle_back/control_plane/dashboard.py
  src/dazzle_back/control_plane/log_store.py
  src/dazzle_back/control_plane/metrics_collector.py
  src/dazzle_back/control_plane/metrics_store.py
  src/dazzle_back/control_plane/process_monitor.py
  src/dazzle_back/runtime/metrics/__init__.py
  src/dazzle_back/runtime/metrics/emitter.py
  src/dazzle_back/runtime/metrics/middleware.py
  src/dazzle_back/runtime/server.py
Due: none

feat: Add knowledge graph and spec_analyze tools to MCP server
  src/dazzle/mcp/knowledge_graph/__init__.py
  src/dazzle/mcp/knowledge_graph/cli.py
  src/dazzle/mcp/knowledge_graph/handlers.py
  src/dazzle/mcp/knowledge_graph/store.py
  src/dazzle/mcp/prompts.py
  src/dazzle/mcp/server/__init__.py
  src/dazzle/mcp/server/handlers/__init__.py
  src/dazzle/mcp/server/handlers/spec_analyze.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/state.py
  src/dazzle/mcp/server/tools_consolidated.py
  tests/unit/test_knowledge_graph.py
Due: pytest-fast, mcp-verify

fix: Use StrEnum instead of (str, Enum) inheritance
  src/dazzle_back/control_plane/process_monitor.py
Due: none

feat: Add bootstrap tool for naive app-building requests
  src/dazzle/mcp/server/handlers/__init__.py
  src/dazzle/mcp/server/handlers/bootstrap.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
Due: pytest-fast, mcp-verify

fix: Improve entity discovery noise filtering
  src/dazzle/mcp/server/handlers/spec_analyze.py
Due: pytest-fast, mcp-verify

fix: Use DaisyUI renderer for site pages and add auth/app routes to factory
  src/dazzle_back/runtime/server.py
  src/dazzle_back/runtime/site_routes.py
Due: none

fix: Add /site.js and /styles/dazzle.css routes to production server
  src/dazzle_back/runtime/server.py
  src/dazzle_back/runtime/site_routes.py
  src/dazzle_ui/runtime/site_renderer.py
Due: none

feat: Add copy.md content system and site coherence validation
  src/dazzle/core/copy_parser.py
  src/dazzle/core/site_coherence.py
  src/dazzle/core/sitespec_loader.py
  src/dazzle/mcp/server/handlers/sitespec.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  tests/unit/test_copy_parser.py
  tests/unit/test_site_coherence.py
  tests/unit/test_sitespec.py
Due: pytest-fast, mcp-verify

fix: Integrate copy.md into runtime and fix frozen model mutation (#106)
  src/dazzle/core/sitespec_loader.py
  src/dazzle/mcp/semantics_kb/frontend.toml
  src/dazzle_back/runtime/server.py
  tests/unit/test_copy_parser.py
Due: pytest-fast

Add hero section media image support
  src/dazzle_ui/runtime/site_renderer.py
  src/dazzle_ui/runtime/static/css/site-sections.css
Due: none

Fix hero media field check: kind not type
  src/dazzle_ui/runtime/site_renderer.py
Due: none

fix: Handle multi-currency pricing and skip unparseable sections (#107)
  src/dazzle/core/copy_parser.py
  src/dazzle/core/sitespec_loader.py
  src/dazzle/mcp/semantics_kb/frontend.toml
  tests/unit/test_copy_parser.py
Due: pytest-fast

fix: Handle None values in site coherence validation
  src/dazzle/core/site_coherence.py
Due: pytest-fast

Support legal page type in site.js renderer
  src/dazzle_ui/runtime/site_renderer.py
Due: none

Add legal page HTML routes and 404 handler support
  src/dazzle_back/runtime/site_routes.py
Due: none

Add legal page routes and styled 404 page
  src/dazzle_back/runtime/server.py
  src/dazzle_ui/runtime/site_renderer.py
Due: none

fix: Correct site renderer to use NavSpec public items and render section headers
  src/dazzle_back/runtime/site_routes.py
  src/dazzle_ui/runtime/site_renderer.py
Due: none

fix: Define hero/section design tokens and convert markdown server-side
  src/dazzle_back/runtime/site_routes.py
  src/dazzle_ui/runtime/static/css/design-system.css
Due: none

Fix: Align CSS design tokens with JS renderer and add markdown dependency
  pyproject.toml
  src/dazzle_ui/runtime/site_renderer.py
  src/dazzle_ui/runtime/static/css/site-sections.css
Due: none

Fix: Relax h1 assertions in richtext tests for markdown extra extension
  src/dazzle_back/tests/test_richtext_processor.py
Due: none

Fix: Tokenize all hardcoded colors in site CSS and eliminate inline styles
  src/dazzle_ui/runtime/site_renderer.py
  src/dazzle_ui/runtime/static/css/design-system.css
  src/dazzle_ui/runtime/static/css/site-sections.css
Due: none

Clean up dead BEM CSS, consolidate dark mode via token overrides
  src/dazzle_ui/runtime/site_renderer.py
  src/dazzle_ui/runtime/static/css/design-system.css
  src/dazzle_ui/runtime/static/css/site-sections.css
  tests/unit/test_dark_mode_toggle.py
Due: none

Add structured content pages: hybrid markdown sections, directive parser, and 5 new section types
  src/dazzle/core/copy_parser.py
  src/dazzle/core/directive_parser.py
  src/dazzle/core/ir/sitespec.py
  src/dazzle/core/parser.py
  src/dazzle/core/sitespec_loader.py
  src/dazzle_back/runtime/site_routes.py
  src/dazzle_ui/runtime/site_renderer.py
  src/dazzle_ui/runtime/static/css/site-sections.css
  tests/unit/test_directive_parser.py
  tests/unit/test_structured_content.py
Due: pytest-fast

Add section type inference, hybrid page KB, and fieldtest screenshots
  examples/fieldtest_hub/screenshots/device_create.png
  examples/fieldtest_hub/screenshots/device_detail.png
  examples/fieldtest_hub/screenshots/device_list.png
  examples/fieldtest_hub/screenshots/firmware_release_create.png
  examples/fieldtest_hub/screenshots/firmware_release_list.png
  examples/fieldtest_hub/screenshots/home.png
  examples/fieldtest_hub/screenshots/issue_report_create.png
  examples/fieldtest_hub/screenshots/issue_report_list.png
  examples/fieldtest_hub/screenshots/task_create.png
  examples/fieldtest_hub/screenshots/task_list.png
  examples/fieldtest_hub/screenshots/test_session_create.png
  examples/fieldtest_hub/screenshots/test_session_list.png
  examples/fieldtest_hub/screenshots/tester_create.png
  examples/fieldtest_hub/screenshots/tester_detail.png
  examples/fieldtest_hub/screenshots/tester_edit.png
  examples/fieldtest_hub/screenshots/tester_list.png
  src/dazzle/core/patterns.py
  src/dazzle/mcp/inference.py
  src/dazzle/mcp/inference_kb.toml
  src/dazzle/mcp/semantics_kb/__init__.py
  src/dazzle/mcp/semantics_kb/frontend.toml
  src/dazzle/mcp/server/handlers/status.py
Due: pytest-fast, mcp-verify

Add section anchor IDs and fix PostgreSQL auth RealDictCursor bug
  src/dazzle/core/ir/sitespec.py
  src/dazzle/mcp/semantics_kb/frontend.toml
  src/dazzle_back/runtime/auth.py
  src/dazzle_ui/runtime/site_renderer.py
  tests/unit/test_sitespec.py
Due: pytest-fast

Add MCP user_management tool for auth operations
  src/dazzle/mcp/server/handlers/user_management.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools.py
Due: pytest-fast, mcp-verify

Address code smells: add tests, knowledge graph extensions, extract feedback module
  src/dazzle/core/process/activities.py
  src/dazzle/mcp/knowledge_graph/handlers.py
  src/dazzle_back/runtime/control_plane.py
  src/dazzle_back/runtime/feedback.py
  tests/unit/mcp/__init__.py
  tests/unit/mcp/test_user_management_handlers.py
  tests/unit/test_auth_postgres.py
  tests/unit/test_knowledge_graph.py
Due: pytest-fast, mcp-verify

Add test coverage indexing and social auth tests
  src/dazzle/mcp/knowledge_graph/handlers.py
  tests/unit/test_knowledge_graph.py
  tests/unit/test_social_auth.py
Due: pytest-fast, mcp-verify

Add MCP handler tests for spec_analyze and stories
  tests/unit/mcp/test_spec_analyze_handlers.py
  tests/unit/mcp/test_stories_handlers.py
Due: none

Extract exception handlers from server.py
  src/dazzle_back/runtime/exception_handlers.py
  src/dazzle_back/runtime/server.py
Due: none

Add MCP test_design handler tests (26 tests)
  tests/unit/mcp/test_test_design_handlers.py
Due: none

Add MCP demo_data handler tests (28 tests)
  tests/unit/mcp/test_demo_data_handlers.py
Due: none

Add unit tests for dsl_test MCP handlers
  tests/unit/mcp/test_dsl_test_handlers.py
Due: none

Path conditions:
  eslint: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$, but not: \.test\.js$
  js-typecheck: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$
  js-tests: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$
  dsl-validate: any of: \.dsl$, but not: (templates/|_archive/)
  pytest-fast: any of: ^src/dazzle/.*\.py$
  parser-corpus: any of: ^(src/dazzle/core/dsl_parser.*\.py|tests/parser_corpus/|tests/corpora/)
  pra-unit: any of: ^(src/dazzle_dnr_back/pra/|src/dazzle_dnr_back/events/|src/dazzle_dnr_back/metrics/|tests/unit/test_pra)
  mcp-verify: any of: ^src/dazzle/mcp/.*\.py$
  homebrew-validate: any of: ^homebrew/.*\.rb$
  verify-pypi-urls: any of: ^(homebrew/.*\.rb|\.github/workflows/release-cli\.yml)$
