Repository manwithacat/dazzle: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, js-typecheck, js-tests, dsl-validate, pytest-fast, parser-corpus, pra-unit, mcp-verify, homebrew-validate, verify-pypi-urls

eslint:
  name: eslint
  entry: npx eslint
  language: system
  pass_filenames: true

js-typecheck:
  name: js-typecheck
  entry: npm run typecheck
  language: system
  pass_filenames: false

js-tests:
  name: js-tests
  entry: npx vitest run
  language: system
  pass_filenames: false

dsl-validate:
  name: dsl-validate
  entry: bash -c 'exit_code=0; for f in "$@"; do dir=$(dirname "$f"); while [ "$dir" != "." ] && [ ! -f "$dir/dsl/app.dsl" ]; do dir=$(dirname "$dir"); done; if [ -f "$dir/dsl/app.dsl" ]; then (cd "$dir" && python -m dazzle validate) || exit_code=1; fi; done; exit $exit_code' --
  ...

pytest-fast:
  name: pytest-fast
  entry: pytest tests/unit -x -q --tb=short -m "not slow"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

parser-corpus:
  name: parser-corpus
  entry: pytest tests/parser_corpus/ -x -q --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pra-unit:
  name: pra-unit
  entry: bash -c 'pytest tests/unit/test_pra*.py -x -q --tb=short -m "not slow"'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

mcp-verify:
  name: mcp-verify
  entry: python scripts/verify-mcp.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

homebrew-validate:
  name: homebrew-validate
  entry: ruby -c
  language: system
  pass_filenames: true
  stages:
  - pre-commit

verify-pypi-urls:
  name: verify-pypi-urls
  entry: bash scripts/verify-pypi-urls.sh
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix(testing): add missing tier2_playwright module
  src/dazzle/testing/tier2_playwright.py
Due: pytest-fast

fix(testing): fix ruff linting errors in tier2_playwright
  src/dazzle/testing/tier2_playwright.py
Due: pytest-fast

ci: fix E2E tests to use local mode and cleanup Docker containers
  .github/workflows/ci.yml
Due: none

ci: add --no-auto-server flag to E2E test runs
  .github/workflows/ci.yml
Due: none

feat(mcp): add consolidated tools mode to reduce token budget by 73%
  scripts/verify-mcp.py
  src/dazzle/mcp/server/__init__.py
  src/dazzle/mcp/server/handlers/__init__.py
  src/dazzle/mcp/server/handlers/testing.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/state.py
  src/dazzle/mcp/server/tools_consolidated.py
Due: pytest-fast, mcp-verify

fix(mcp): fix mypy and test failures for consolidated tools
  src/dazzle/mcp/server/handlers/testing.py
  tests/test_mcp_integration.py
Due: pytest-fast, mcp-verify

test: add property-based tests and optimize test infrastructure
  setup.cfg
  tests/integration/__snapshots__/test_golden_master.ambr
  tests/unit/test_bus_conformance.py
  tests/unit/test_channel_templates.py
  tests/unit/test_playwright_codegen.py
  tests/unit/test_property_based.py
  tests/unit/test_validator.py
Due: none

fix(test): revert snapshot update that depends on uncommitted IR changes
  tests/integration/__snapshots__/test_golden_master.ambr
Due: none

feat(ops): add observability platform for DNR applications
  src/dazzle_dnr_back/runtime/analytics_collector.py
  src/dazzle_dnr_back/runtime/api_middleware.py
  src/dazzle_dnr_back/runtime/api_tracker.py
  src/dazzle_dnr_back/runtime/email_templates.py
  src/dazzle_dnr_back/runtime/health_aggregator.py
  src/dazzle_dnr_back/runtime/ops_database.py
  src/dazzle_dnr_back/runtime/ops_integration.py
  src/dazzle_dnr_back/runtime/ops_routes.py
  src/dazzle_dnr_back/runtime/sse_stream.py
  src/dazzle_dnr_ui/runtime/static/ops/app.js
  src/dazzle_dnr_ui/runtime/static/ops/index.html
  src/dazzle_dnr_ui/runtime/static/ops/styles.css
  tests/unit/test_ops_platform.py
Due: none

feat(deploy): add AWS CDK deployment and pre-flight validation
  src/dazzle/cli/deploy.py
  src/dazzle/deploy/__init__.py
  src/dazzle/deploy/analyzer.py
  src/dazzle/deploy/config.py
  src/dazzle/deploy/generator.py
  src/dazzle/deploy/preflight/__init__.py
  src/dazzle/deploy/preflight/models.py
  src/dazzle/deploy/preflight/policies/dazzle-baseline.guard
  src/dazzle/deploy/preflight/report.py
  src/dazzle/deploy/preflight/runner.py
  src/dazzle/deploy/preflight/stages/__init__.py
  src/dazzle/deploy/preflight/stages/assertions.py
  src/dazzle/deploy/preflight/stages/base.py
  src/dazzle/deploy/preflight/stages/bootstrap.py
  src/dazzle/deploy/preflight/stages/guardrails.py
  src/dazzle/deploy/preflight/stages/lint.py
  src/dazzle/deploy/preflight/stages/synth.py
  src/dazzle/deploy/runner.py
  src/dazzle/deploy/stacks/__init__.py
  src/dazzle/deploy/stacks/compute.py
  src/dazzle/deploy/stacks/data.py
  src/dazzle/deploy/stacks/messaging.py
  src/dazzle/deploy/stacks/network.py
  src/dazzle/deploy/stacks/observability.py
  tests/unit/test_deploy_analyzer.py
  tests/unit/test_deploy_config.py
  tests/unit/test_deploy_generators.py
  tests/unit/test_deploy_runner.py
  tests/unit/test_preflight.py
  tests/unit/test_property_based.py
Due: pytest-fast

fix(ci): fix mypy and test failures
  src/dazzle/cli/deploy.py
  tests/unit/test_ops_platform.py
Due: pytest-fast

style: use single quotes in task-header.js
  src/dazzle_dnr_ui/runtime/static/js/components/task-header.js
Due: eslint, js-typecheck, js-tests

fix: resolve CI failures - mypy and snapshot
  src/dazzle/mcp/server/__init__.py
  tests/integration/__snapshots__/test_golden_master.ambr
Due: pytest-fast, mcp-verify

fix(pra): rename fields with leading underscores to valid names
  examples/pra/dsl/edge_cases.dsl
Due: dsl-validate

fix(pra): add entity references to minimal surfaces
  examples/pra/dsl/edge_cases.dsl
Due: dsl-validate

fix(pra): add entity references to all placeholder surfaces
  examples/pra/dsl/services.dsl
  examples/pra/dsl/surfaces.dsl
  examples/pra/dsl/workspaces.dsl
Due: dsl-validate

docs(readme): add comprehensive badge section
  README.md
Due: none

fix: address deprecations and code smells
  src/dazzle/cli/dnr_impl/info.py
  src/dazzle/core/process/activities.py
  src/dazzle/core/process/context.py
  src/dazzle/core/process/lite_adapter.py
  src/dazzle/core/process/temporal_adapter.py
  src/dazzle/mcp/server/tool_handlers.py
  src/dazzle/testing/feedback.py
  src/dazzle/testing/test_design_persistence.py
  src/dazzle_dnr_back/pra/__init__.py
  src/dazzle_dnr_back/pra/cli.py
  src/dazzle_dnr_back/pra/harness.py
  src/dazzle_dnr_back/pra/scenarios.py
  src/dazzle_dnr_back/runtime/analytics_collector.py
  src/dazzle_dnr_back/runtime/api_tracker.py
  src/dazzle_dnr_back/runtime/health_aggregator.py
  src/dazzle_dnr_back/runtime/ops_database.py
  src/dazzle_dnr_back/runtime/ops_routes.py
  src/dazzle_dnr_back/runtime/sse_stream.py
  tests/integration/test_temporal_adapter.py
  tests/unit/test_human_tasks.py
  tests/unit/test_pra_harness.py
  tests/unit/test_sitespec.py
Due: pytest-fast, pra-unit, mcp-verify

fix: replace remaining datetime.utcnow default_factory calls
  .claude/hooks/bash_validator.py
  .claude/hooks/code_formatter.py
  .claude/hooks/dsl_validator.py
  .claude/hooks/file_protection.py
  .claude/hooks/session_start.sh
  .claude/hooks/smart_stop.py
  .claude/settings.json
  src/dazzle/core/ir/test_design.py
  src/dazzle/core/process/adapter.py
  src/dazzle/core/process/context.py
  src/dazzle/testing/feedback.py
  src/dazzle/testing/test_design_persistence.py
  src/dazzle_dnr_back/channels/adapters/base.py
  src/dazzle_dnr_back/runtime/email_templates.py
  src/dazzle_dnr_back/runtime/ops_database.py
  src/dazzle_dnr_back/runtime/sse_stream.py
Due: pytest-fast

feat(manifest): add project_type field for LLM agent guidance
  .claude/settings.json
  examples/pra/dazzle.toml
  src/dazzle/core/manifest.py
  src/dazzle/mcp/server/handlers/project.py
Due: pytest-fast, mcp-verify

feat(testing): add autonomous workflow commands for LLM agents
  src/dazzle/cli/__init__.py
  src/dazzle/cli/story.py
  src/dazzle/cli/testing.py
  src/dazzle/cli_legacy.py
  src/dazzle/mcp/server/handlers_consolidated.py
Due: pytest-fast, mcp-verify

feat(testing): add MCP auto_populate and improve_coverage operations
  examples/contact_manager/dsl/tests/designs.json
  examples/contact_manager/dsl/tests/dsl_generated_tests.json
  examples/fieldtest_hub/dsl/tests/designs.json
  examples/fieldtest_hub/dsl/tests/dsl_generated_tests.json
  examples/llm_ticket_classifier/dsl/tests/dsl_generated_tests.json
  examples/ops_dashboard/dsl/tests/dsl_generated_tests.json
  examples/simple_task/dsl/tests/designs.json
  examples/simple_task/dsl/tests/dsl_generated_tests.json
  examples/support_tickets/dsl/tests/designs.json
  examples/support_tickets/dsl/tests/dsl_generated_tests.json
  src/dazzle/mcp/server/tools_consolidated.py
  tests/unit/test_property_based.py
Due: pytest-fast, mcp-verify

test: add HLESS event bus conformance tests
  tests/unit/test_event_bus_hless.py
Due: none

feat: release v0.5.0 with TigerBeetle ledger support
  .claude/CLAUDE.md
  README.md
  docs/reference/grammar.md
  docs/reference/index.md
  docs/reference/ledgers.md
  examples/support_tickets/.claude/CLAUDE.md
  examples/support_tickets/dsl/app.dsl
  examples/support_tickets/fixtures/backlog.json
  pyproject.toml
  src/dazzle/cli_legacy.py
  src/dazzle/core/dsl_parser_impl/__init__.py
  src/dazzle/core/dsl_parser_impl/base.py
  src/dazzle/core/dsl_parser_impl/flow.py
  src/dazzle/core/dsl_parser_impl/hless.py
  src/dazzle/core/dsl_parser_impl/ledger.py
  src/dazzle/core/ir/__init__.py
  src/dazzle/core/ir/appspec.py
  src/dazzle/core/ir/ledgers.py
  src/dazzle/core/ir/module.py
  src/dazzle/core/lexer.py
  src/dazzle/core/linker.py
  src/dazzle/core/linker_impl.py
  src/dazzle/core/lint.py
  src/dazzle/core/validator.py
  src/dazzle/mcp/server/__init__.py
  src/dazzle/mcp/server/handlers/mailpit.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  src/dazzle_dnr_back/runtime/control_plane.py
  src/dazzle_dnr_ui/runtime/js_loader.py
  src/dazzle_dnr_ui/runtime/static/js/dazzle-bar/bar.js
  src/dazzle_dnr_ui/runtime/static/js/dazzle-bar/health-panel.js
Due: eslint, js-typecheck, js-tests, dsl-validate, pytest-fast, parser-corpus, mcp-verify

fix: update CLI and Homebrew versions to 0.5.0
  cli/package.json
  homebrew/dazzle.rb
  src/dazzle/core/dsl_parser_impl/hless.py
Due: pytest-fast, parser-corpus, homebrew-validate, verify-pypi-urls

fix: resolve pre-existing mypy type errors
  src/dazzle/cli/story.py
  src/dazzle/cli/testing.py
  src/dazzle/mcp/server/handlers_consolidated.py
Due: pytest-fast, mcp-verify

test: update golden master snapshot for ledger/transaction fields
  tests/integration/__snapshots__/test_golden_master.ambr
Due: none

feat(pra): add TigerBeetle stress testing infrastructure
  pyproject.toml
  src/dazzle_dnr_back/pra/__init__.py
  src/dazzle_dnr_back/pra/cli.py
  src/dazzle_dnr_back/pra/tigerbeetle_client.py
  src/dazzle_dnr_back/pra/tigerbeetle_generator.py
  src/dazzle_dnr_back/pra/tigerbeetle_harness.py
  src/dazzle_dnr_back/pra/tigerbeetle_scenarios.py
Due: pra-unit

feat(deploy): add TigerBeetle AWS infrastructure support
  docs/reference/deployment.md
  docs/reference/index.md
  src/dazzle/cli/deploy.py
  src/dazzle/core/infra_analyzer.py
  src/dazzle/deploy/analyzer.py
  src/dazzle/deploy/config.py
  src/dazzle/deploy/preflight/models.py
  src/dazzle/deploy/preflight/stages/__init__.py
  src/dazzle/deploy/preflight/stages/tigerbeetle.py
  src/dazzle/deploy/runner.py
  src/dazzle/deploy/stacks/__init__.py
  src/dazzle/deploy/stacks/tigerbeetle.py
  src/dazzle/deploy/versioning.py
  tests/unit/test_deploy_runner.py
  tests/unit/test_deploy_tigerbeetle.py
  tests/unit/test_deploy_versioning.py
  tests/unit/test_preflight_tigerbeetle.py
Due: pytest-fast

ci: add TigerBeetle integration test workflow
  .github/workflows/tigerbeetle.yml
  pyproject.toml
  tests/integration/test_tigerbeetle.py
Due: none

fix(ci): use explicit Docker commands for TigerBeetle workflow
  .github/workflows/tigerbeetle.yml
Due: none

fix(ci): add seccomp=unconfined to TigerBeetle format command
  .github/workflows/tigerbeetle.yml
Due: none

fix(ci): add diagnostics to TigerBeetle health check
  .github/workflows/tigerbeetle.yml
Due: none

fix(ci): use correct TigerBeetle Python client import
  .github/workflows/tigerbeetle.yml
  src/dazzle_dnr_back/pra/tigerbeetle_client.py
  tests/integration/test_tigerbeetle.py
Due: pra-unit

fix(ci): use positional arguments for TigerBeetle Client
  .github/workflows/tigerbeetle.yml
  tests/integration/test_tigerbeetle.py
Due: none

fix(ci): use string format for TigerBeetle replica_addresses
  .github/workflows/tigerbeetle.yml
  tests/integration/test_tigerbeetle.py
Due: none

fix(ci): add TigerBeetle API compatibility check
  tests/integration/test_tigerbeetle.py
Due: none

fix(ci): handle TigerBeetle API incompatibilities gracefully
  .github/workflows/tigerbeetle.yml
Due: none

feat(spec): add flexible spec loading from spec/ directory or SPEC.md
  src/dazzle/cli/project.py
  src/dazzle/core/spec_loader.py
  src/dazzle/mcp/server/__init__.py
  src/dazzle/mcp/server/tool_handlers.py
  src/dazzle/mcp/server/tools.py
  tests/unit/test_spec_loader.py
Due: pytest-fast, mcp-verify

Path conditions:
  eslint: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$, but not: \.test\.js$
  js-typecheck: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$
  js-tests: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$
  dsl-validate: any of: \.dsl$, but not: (templates/|_archive/)
  pytest-fast: any of: ^src/dazzle/.*\.py$
  parser-corpus: any of: ^(src/dazzle/core/dsl_parser.*\.py|tests/parser_corpus/|tests/corpora/)
  pra-unit: any of: ^(src/dazzle_dnr_back/pra/|src/dazzle_dnr_back/events/|src/dazzle_dnr_back/metrics/|tests/unit/test_pra)
  mcp-verify: any of: ^src/dazzle/mcp/.*\.py$
  homebrew-validate: any of: ^homebrew/.*\.rb$
  verify-pypi-urls: any of: ^(homebrew/.*\.rb|\.github/workflows/release-cli\.yml)$
