Repository manwithacat/dazzle: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, js-typecheck, js-tests, dsl-validate, pytest-fast, parser-corpus, pra-unit, mcp-verify, homebrew-validate, verify-pypi-urls

Path conditions:
  eslint: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$, but not: \.test\.js$
  js-typecheck: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$
  js-tests: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$
  dsl-validate: any of: \.dsl$, but not: (templates/|_archive/)
  pytest-fast: any of: ^src/dazzle/.*\.py$
  parser-corpus: any of: ^(src/dazzle/core/dsl_parser.*\.py|tests/parser_corpus/|tests/corpora/)
  pra-unit: any of: ^(src/dazzle_dnr_back/pra/|src/dazzle_dnr_back/events/|src/dazzle_dnr_back/metrics/|tests/unit/test_pra)
  mcp-verify: any of: ^src/dazzle/mcp/.*\.py$
  homebrew-validate: any of: ^homebrew/.*\.rb$
  verify-pypi-urls: any of: ^(homebrew/.*\.rb|\.github/workflows/release-cli\.yml)$

Add *.db to .gitignore to exclude local SQLite databases
  .gitignore
Due: none

Fix PostgreSQL reserved-word crash — quote identifiers in FK constraints and indexes
  src/dazzle_back/runtime/relation_loader.py
  src/dazzle_back/tests/test_relations.py
Due: none

Fix PostgresBus startup crash: escape braces in JSONB DEFAULT (#156)
  src/dazzle_back/events/postgres_bus.py
Due: none

Fix fetchone()[0] KeyError with psycopg v3 dict_row (#157)
  src/dazzle_back/runtime/debug_routes.py
  src/dazzle_back/runtime/fts_manager.py
  src/dazzle_back/runtime/repository.py
  src/dazzle_back/runtime/test_routes.py
Due: none

Deprecate SQLite in E2E tests — PostgreSQL-first CI pipeline
  .github/workflows/ci.yml
  tests/integration/test_runtime_e2e.py
Due: none

Streamline hooks and pre-commit for LLM-agent-first workflow
  .claude/commands/check.md
  .claude/commands/ship.md
  .claude/hooks/bash_validator.py
  .claude/settings.json
  .pre-commit-config.yaml
Due: none

PostgreSQL-first runtime — remove DualBackendMixin from all stores
  src/dazzle/cli/auth.py
  src/dazzle/mcp/server/handlers/dsl_test.py
  src/dazzle/mcp/server/handlers/user_management.py
  src/dazzle/testing/test_runner.py
  src/dazzle_back/runtime/auth.py
  src/dazzle_back/runtime/db_backend.py
  src/dazzle_back/runtime/device_registry.py
  src/dazzle_back/runtime/file_storage.py
  src/dazzle_back/runtime/fts_manager.py
  src/dazzle_back/runtime/health_aggregator.py
  src/dazzle_back/runtime/migrations.py
  src/dazzle_back/runtime/ops_database.py
  src/dazzle_back/runtime/pg_backend.py
  src/dazzle_back/runtime/server.py
  src/dazzle_back/runtime/tenant_isolation.py
  src/dazzle_back/runtime/token_store.py
  src/dazzle_back/tests/test_e2e.py
  tests/unit/mcp/test_user_management_handlers.py
  tests/unit/test_auth_password_reset.py
  tests/unit/test_auth_postgres.py
  tests/unit/test_backend_sitespec.py
  tests/unit/test_cli_auth.py
  tests/unit/test_control_plane.py
  tests/unit/test_db_backend.py
  tests/unit/test_device_registry_pg.py
  tests/unit/test_file_storage_pg.py
  tests/unit/test_fts_postgres.py
  tests/unit/test_health_aggregator_pg.py
  tests/unit/test_jwt_auth.py
  tests/unit/test_jwt_fuzzing.py
  tests/unit/test_ops_database_pg.py
  tests/unit/test_ops_platform.py
  tests/unit/test_ops_simulator.py
  tests/unit/test_runtime_test_routes.py
  tests/unit/test_security.py
  tests/unit/test_social_auth_wiring.py
  tests/unit/test_token_store_pg.py
  tests/unit/test_workspace_routes.py
Due: pytest-fast, mcp-verify

Add command rewrite hook and auto-loading skills
  .claude/hooks/bash_validator.py
  .claude/skills/deployment.md
  .claude/skills/dsl-patterns.md
  .claude/skills/process-schema.md
Due: none

Raise dev platform floor — PostgreSQL + Redis + Celery required
  .claude/hooks/file_protection.py
  .env.example
  src/dazzle/cli/runtime_impl/serve.py
  src/dazzle/core/process/celery_adapter.py
  src/dazzle/core/process/factory.py
  src/dazzle/core/process/lite_adapter.py
  src/dazzle/mcp/server/handlers/dsl_test.py
  src/dazzle_back/events/consumer.py
  src/dazzle_back/events/dev_sqlite.py
  src/dazzle_back/events/framework.py
  src/dazzle_back/events/publisher.py
  src/dazzle_back/events/tier.py
  src/dazzle_back/runtime/server.py
  src/dazzle_back/tests/test_e2e.py
  src/dazzle_back/tests/test_runtime.py
  src/dazzle_ui/runtime/combined_server.py
  tests/conftest.py
  tests/integration/test_graphql_integration.py
  tests/integration/test_runtime_pipeline.py
  tests/unit/test_events.py
  tests/unit/test_framework_pg.py
Due: pytest-fast, mcp-verify

Fix CI failures — install postgres extra in all CI jobs, lazy-import psycopg
  .github/workflows/ci.yml
  src/dazzle_back/runtime/auth.py
  src/dazzle_back/runtime/ops_integration.py
  src/dazzle_back/runtime/server.py
  src/dazzle_back/tests/test_auth.py
  tests/unit/test_events.py
Due: none

Adopt SQLAlchemy Core + Alembic for FK-aware schema migrations
  pyproject.toml
  src/dazzle/cli/__init__.py
  src/dazzle/cli/db.py
  src/dazzle_back/alembic/__init__.py
  src/dazzle_back/alembic/alembic.ini
  src/dazzle_back/alembic/env.py
  src/dazzle_back/alembic/script.py.mako
  src/dazzle_back/alembic/versions/.gitkeep
  src/dazzle_back/runtime/migrations.py
  src/dazzle_back/runtime/pg_backend.py
  src/dazzle_back/runtime/sa_schema.py
  src/dazzle_back/tests/test_e2e.py
  src/dazzle_back/tests/test_file_storage.py
  tests/unit/test_jwt_fuzzing.py
  tests/unit/test_sa_schema.py
Due: pytest-fast

Fix dazzle check subprocess — remove extra 'dazzle' argument (#160)
  src/dazzle/cli/runtime_impl/test.py
Due: pytest-fast

Remove SQLite from runtime — PostgreSQL-only backend (#158)
  src/dazzle/cli/runtime_impl/build.py
  src/dazzle/cli/runtime_impl/serve.py
  src/dazzle/cli/runtime_impl/test.py
  src/dazzle/core/cli_bridge.py
  src/dazzle_back/runtime/__init__.py
  src/dazzle_back/runtime/console_routes.py
  src/dazzle_back/runtime/db_backend.py
  src/dazzle_back/runtime/deploy_history.py
  src/dazzle_back/runtime/ops_routes.py
  src/dazzle_back/runtime/pg_backend.py
  src/dazzle_back/runtime/query_builder.py
  src/dazzle_back/runtime/relation_loader.py
  src/dazzle_back/runtime/repository.py
  src/dazzle_back/runtime/spec_versioning.py
  src/dazzle_back/runtime/test_routes.py
  src/dazzle_back/tests/test_fts.py
  src/dazzle_back/tests/test_migrations.py
  src/dazzle_back/tests/test_repository.py
  tests/unit/test_channel_manager.py
  tests/unit/test_channel_outbox.py
  tests/unit/test_constraint_errors.py
  tests/unit/test_pg_placeholder_translation.py
  tests/unit/test_repository_integrity.py
Due: pytest-fast

Fix CI failures after PostgreSQL-only migration (#158 follow-up)
  .github/workflows/ci.yml
  src/dazzle/core/cli_bridge.py
  src/dazzle_back/alembic/env.py
  src/dazzle_back/channels/outbox.py
  src/dazzle_back/runtime/debug_routes.py
  src/dazzle_back/runtime/pg_backend.py
  src/dazzle_back/runtime/repository.py
  src/dazzle_back/runtime/sa_schema.py
  src/dazzle_back/runtime/server.py
  src/dazzle_back/runtime/spec_versioning.py
  src/dazzle_back/runtime/surface_access.py
  src/dazzle_back/tests/test_auth.py
  src/dazzle_back/tests/test_e2e.py
  src/dazzle_back/tests/test_file_storage.py
  src/dazzle_back/tests/test_fts.py
  src/dazzle_back/tests/test_migrations.py
  src/dazzle_back/tests/test_query_builder.py
  src/dazzle_back/tests/test_relations.py
  src/dazzle_back/tests/test_runtime.py
  tests/unit/test_channel_manager.py
  tests/unit/test_channel_outbox.py
Due: pytest-fast

Move PostgreSQL deps to core dependencies (#163)
  pyproject.toml
  src/dazzle_back/events/postgres_bus.py
  src/dazzle_back/events/tier.py
  src/dazzle_back/runtime/sa_schema.py
Due: none

Wire RBAC enforcement from DSL persona access specs to runtime
  src/dazzle_back/converters/__init__.py
  src/dazzle_back/converters/surface_converter.py
  src/dazzle_back/runtime/route_generator.py
  src/dazzle_back/runtime/server.py
  src/dazzle_back/specs/backend_spec.py
  src/dazzle_back/specs/endpoint.py
  tests/unit/test_rbac_enforcement.py
Due: none

Fix PRA and TigerBeetle CI — bump Python 3.11 → 3.12
  .github/workflows/pra.yml
  .github/workflows/tigerbeetle.yml
Due: none

Add --base-url flag to agent tests and broaden tier-3 tag matching
  src/dazzle/cli/testing.py
  src/dazzle/testing/agent_e2e.py
Due: pytest-fast

Add Cedar-style RBAC with validation example and NIST compliance harness
  examples/pra/dsl/access_control.dsl
  examples/pra/dsl/events.dsl
  examples/pra/dsl/relationships.dsl
  examples/rbac_validation/dazzle.toml
  examples/rbac_validation/dsl/app.dsl
  examples/rbac_validation/dsl/entities.dsl
  examples/rbac_validation/dsl/personas.dsl
  examples/rbac_validation/dsl/stories.dsl
  src/dazzle/core/dsl_parser_impl/entity.py
  src/dazzle/core/ir/__init__.py
  src/dazzle/core/ir/domain.py
  src/dazzle/core/lexer.py
  src/dazzle/mcp/server/handlers/policy.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  src/dazzle_back/converters/entity_converter.py
  src/dazzle_back/converters/surface_converter.py
  src/dazzle_back/runtime/access_evaluator.py
  src/dazzle_back/runtime/audit_log.py
  src/dazzle_back/runtime/audit_routes.py
  src/dazzle_back/runtime/auth.py
  src/dazzle_back/runtime/route_generator.py
  src/dazzle_back/runtime/server.py
  src/dazzle_back/specs/__init__.py
  src/dazzle_back/specs/auth.py
  src/dazzle_back/specs/endpoint.py
  src/dazzle_ui/converters/template_compiler.py
  src/dazzle_ui/runtime/page_routes.py
  tests/integration/__snapshots__/test_golden_master.ambr
  tests/unit/test_access_rules.py
  tests/unit/test_audit_log.py
  tests/unit/test_audit_parsing.py
  tests/unit/test_cedar_evaluator.py
  tests/unit/test_deny_enforcement.py
  tests/unit/test_policy_handler.py
  tests/unit/test_rbac_validation.py
  tests/unit/test_row_level_access.py
  tests/unit/test_url_consistency.py
Due: dsl-validate, pytest-fast, parser-corpus, mcp-verify

Surface Cedar-style RBAC in knowledge graph and fix CI example coverage
  .github/workflows/ci.yml
  src/dazzle/mcp/knowledge_graph/seed.py
  src/dazzle/mcp/semantics_kb/logic.toml
  src/dazzle/mcp/semantics_kb/patterns.toml
  src/dazzle/mcp/semantics_kb/testing.toml
Due: pytest-fast, mcp-verify

Fix CSS/HTML class name mismatches in SSR site renderer (#166)
  src/dazzle_ui/runtime/site_renderer.py
Due: none

Deprecate Dazzle Bar branding — rename to dev control plane (#164)
  docs/contributing/testing.md
  docs/reference/scenarios.md
  docs/reference/testing.md
  examples/fieldtest_hub/tests/e2e/conftest.py
  examples/fieldtest_hub/tests/e2e/helpers/api_client.py
  examples/fieldtest_hub/tests/e2e/helpers/page_objects.py
  examples/fieldtest_hub/tests/e2e/pytest.ini
  examples/fieldtest_hub/tests/e2e/test_access_control.py
  examples/llm_ticket_classifier/dsl/app.dsl
  examples/llm_ticket_classifier/tests/e2e/test_ticket_classifier_tier2.py
  examples/simple_task/SPEC.md
  examples/simple_task/dsl/app.dsl
  examples/simple_task/tests/e2e/test_simple_task_tier2.py
  examples/support_tickets/.claude/CLAUDE.md
  pyproject.toml
  src/dazzle/cli/runtime_impl/serve.py
  src/dazzle/cli/testing.py
  src/dazzle/core/dsl_parser_impl/scenario.py
  src/dazzle/core/ir/__init__.py
  src/dazzle/core/ir/appspec.py
  src/dazzle/core/ir/module.py
  src/dazzle/core/ir/personas.py
  src/dazzle/core/ir/scenarios.py
  src/dazzle/core/lexer.py
  src/dazzle/core/linker.py
  src/dazzle/testing/tier2_playwright.py
  src/dazzle_back/channels/manager.py
  src/dazzle_back/demo_data/__init__.py
  src/dazzle_back/demo_data/generator.py
  src/dazzle_back/demo_data/loader.py
  src/dazzle_back/demo_data/seeder.py
  src/dazzle_back/runtime/email_templates.py
  src/dazzle_back/runtime/logging.py
  src/dazzle_back/runtime/server.py
  src/dazzle_ui/runtime/combined_server.py
  src/dazzle_ui/runtime/docker/runner.py
  src/dazzle_ui/templates/base.html
  tests/unit/test_persona_scenario_ir.py
Due: dsl-validate, pytest-fast, parser-corpus

Add batch MCP operations for autonomous agent loops (#165)
  src/dazzle/mcp/server/handlers/discovery.py
  src/dazzle/mcp/server/handlers/dsl_test.py
  src/dazzle/mcp/server/handlers/pipeline.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  tests/unit/test_discovery_handler.py
Due: pytest-fast, mcp-verify

Add declarative ThemeSpec for deterministic design-system generation (#167)
  src/dazzle/core/dtcg_export.py
  src/dazzle/core/imagery_prompts.py
  src/dazzle/core/ir/__init__.py
  src/dazzle/core/ir/themespec.py
  src/dazzle/core/oklch.py
  src/dazzle/core/theme_generators.py
  src/dazzle/core/themespec_loader.py
  src/dazzle/mcp/server/handlers/sitespec.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  src/dazzle_ui/themes/__init__.py
  src/dazzle_ui/themes/resolver.py
  tests/unit/test_themespec.py
Due: pytest-fast, mcp-verify

Add ThemeSpec and design tokens to simple_task example
  examples/simple_task/themespec.yaml
  examples/simple_task/tokens.json
Due: none

Add pipeline summary mode to reduce output from 59K to under 3K tokens (#173)
  src/dazzle/mcp/server/handlers/fidelity.py
  src/dazzle/mcp/server/handlers/pipeline.py
  src/dazzle/mcp/server/tools_consolidated.py
  tests/unit/mcp/test_pipeline_handlers.py
Due: pytest-fast, mcp-verify

Fix fidelity scorer false positives for money fields (#171)
  src/dazzle/core/fidelity_scorer.py
  tests/unit/test_fidelity_scorer.py
Due: pytest-fast

Add money field widget with major/minor unit conversion (#172)
  src/dazzle/core/fidelity_scorer.py
  src/dazzle_ui/converters/template_compiler.py
  src/dazzle_ui/runtime/static/js/dz.js
  src/dazzle_ui/runtime/template_context.py
  src/dazzle_ui/runtime/template_renderer.py
  src/dazzle_ui/templates/components/detail_view.html
  src/dazzle_ui/templates/fragments/table_rows.html
  src/dazzle_ui/templates/macros/form_field.html
  tests/unit/test_fidelity_scorer.py
  tests/unit/test_money_expansion.py
  tests/unit/test_template_rendering.py
Due: pytest-fast

Evaluate role() conditions in policy simulate and coverage (#176)
  src/dazzle/mcp/server/handlers/policy.py
  tests/unit/test_policy_handler.py
Due: pytest-fast, mcp-verify

Skip create/edit gaps for system-managed entities in headless discovery (#175)
  src/dazzle/agent/missions/entity_completeness.py
  tests/unit/test_entity_completeness.py
Due: pytest-fast

Fix sitespec validator missing standalone entity and workspace routes (#174)
  src/dazzle/core/sitespec_loader.py
  tests/unit/test_sitespec.py
Due: pytest-fast

Add SSR renderers for card_grid, split_content, trust_bar, value_highlight, logo_cloud, comparison (#177)
  src/dazzle_ui/runtime/site_renderer.py
  tests/unit/test_auth_password_reset.py
Due: none

Add pulse(run) MCP tool — founder-ready project health report (#178)
  src/dazzle/mcp/server/handlers/pulse.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  tests/unit/test_pulse.py
Due: pytest-fast, mcp-verify

Add pulse(radar) and pulse(persona) operations (#178)
  src/dazzle/mcp/server/handlers/pulse.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  tests/unit/test_pulse.py
Due: pytest-fast, mcp-verify

Add pulse(timeline) and pulse(decisions) operations (#178)
  src/dazzle/mcp/server/handlers/pulse.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  tests/unit/test_pulse.py
Due: pytest-fast, mcp-verify

Add Story Wall and Live Review operations (#178)
  src/dazzle/mcp/server/handlers/sitespec.py
  src/dazzle/mcp/server/handlers/stories.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  tests/unit/test_sitespec_review.py
  tests/unit/test_story_wall.py
Due: pytest-fast, mcp-verify

Preserve sitespec media and other fields during copy.md merge (#179)
  src/dazzle/core/sitespec_loader.py
  tests/unit/test_copy_parser.py
Due: pytest-fast

Add CTA section h2 override for stronger conversion headline
  src/dazzle_ui/runtime/static/css/site-sections.css
Due: none

Add composition analysis MCP tool — Phase 1 deterministic DOM audit (#180)
  src/dazzle/core/composition.py
  src/dazzle/mcp/server/handlers/composition.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  tests/unit/test_composition_audit.py
Due: pytest-fast, mcp-verify

Add Playwright capture pipeline for composition analysis — Phase 2 (#180)
  src/dazzle/core/composition_capture.py
  src/dazzle/mcp/server/handlers/composition.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  tests/unit/test_composition_capture.py
Due: pytest-fast, mcp-verify
