Repository manwithacat/dazzle: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, js-typecheck, js-tests, dsl-validate, pytest-fast, parser-corpus, pra-unit, mcp-verify, homebrew-validate, verify-pypi-urls

Path conditions:
  eslint: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$, but not: \.test\.js$
  js-typecheck: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$
  js-tests: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$
  dsl-validate: any of: \.dsl$, but not: (templates/|_archive/)
  pytest-fast: any of: ^src/dazzle/.*\.py$
  parser-corpus: any of: ^(src/dazzle/core/dsl_parser.*\.py|tests/parser_corpus/|tests/corpora/)
  pra-unit: any of: ^(src/dazzle_dnr_back/pra/|src/dazzle_dnr_back/events/|src/dazzle_dnr_back/metrics/|tests/unit/test_pra)
  mcp-verify: any of: ^src/dazzle/mcp/.*\.py$
  homebrew-validate: any of: ^homebrew/.*\.rb$
  verify-pypi-urls: any of: ^(homebrew/.*\.rb|\.github/workflows/release-cli\.yml)$

fix: disable mypy pre-commit hook (CI handles type checking)
  .pre-commit-config.yaml
Due: none

fix: sort imports in dnr_testing.py and cli_bridge.py
  src/dazzle/cli/dnr_testing.py
  src/dazzle/core/cli_bridge.py
Due: pytest-fast

fix: format remaining test files
  tests/e2e/test_dnr_serve.py
  tests/parser_corpus/test_appspec_corpus.py
  tests/parser_corpus/test_streamspec_corpus.py
Due: parser-corpus

chore: improve test coverage and fix code smells
  pyproject.toml
  src/dazzle/cli/dnr_impl/build.py
  src/dazzle/eject/openapi.py
  src/dazzle_dnr_back/runtime/file_storage.py
  src/dazzle_dnr_back/runtime/route_generator.py
  src/dazzle_dnr_back/tests/test_query_builder.py
Due: pytest-fast

fix: use TYPE_CHECKING for TestClient import in test_e2e.py
  src/dazzle_dnr_back/tests/test_e2e.py
Due: none

fix: skip TestServerAuthIntegration when FastAPI not installed
  src/dazzle_dnr_back/tests/test_auth.py
Due: none

feat: implement LLM Jobs as First-Class Events (#33)
  src/dazzle/core/dsl_parser_impl/__init__.py
  src/dazzle/core/dsl_parser_impl/llm.py
  src/dazzle/core/ir/__init__.py
  src/dazzle/core/ir/appspec.py
  src/dazzle/core/ir/llm.py
  src/dazzle/core/ir/llm_events.py
  src/dazzle/core/ir/module.py
  src/dazzle/core/lexer.py
  src/dazzle/core/linker.py
  src/dazzle/core/linker_impl.py
  tests/corpora/appspec/invalid/llm_invalid_provider.dsl
  tests/corpora/appspec/valid/llm_constructs.dsl
  tests/parser_corpus/__snapshots__/test_appspec_corpus.ambr
  tests/parser_corpus/__snapshots__/test_streamspec_corpus.ambr
  tests/unit/test_llm_events.py
  tests/unit/test_llm_ir.py
  tests/unit/test_llm_linker.py
Due: dsl-validate, pytest-fast, parser-corpus

fix: update snapshots and format for CI ruff version
  src/dazzle/core/dsl_parser_impl/llm.py
  tests/integration/__snapshots__/test_golden_master.ambr
Due: pytest-fast, parser-corpus

fix: remove 'model' as reserved keyword
  src/dazzle/core/dsl_parser_impl/llm.py
  src/dazzle/core/lexer.py
Due: pytest-fast, parser-corpus

refactor: modularize large files for maintainability
  docs/architecture/mcp-server.md
  docs/contributing/dev-setup.md
  src/dazzle/core/lexer.py
  src/dazzle/mcp/server/handlers/__init__.py
  src/dazzle/mcp/server/handlers/api_packs.py
  src/dazzle/mcp/server/handlers/dsl.py
  src/dazzle/mcp/server/handlers/knowledge.py
  src/dazzle/mcp/server/handlers/project.py
  src/dazzle/mcp/server/handlers/status.py
  src/dazzle/mcp/server/handlers/stories.py
  src/dazzle_dnr_ui/runtime/combined_server.py
  src/dazzle_dnr_ui/runtime/site_renderer.py
  tests/unit/test_dark_mode_toggle.py
Due: pytest-fast, mcp-verify

perf: enable instant navigation prefetch and progress indicator
  mkdocs.yml
Due: none

perf: remove custom mermaid.js, use Material's native support
  docs/javascripts/mermaid.js
  mkdocs.yml
Due: none

fix: remove duplicate sitespec_data assignment in DNRBackendApp
  src/dazzle_dnr_back/runtime/server.py
  tests/unit/test_dnr_backend_sitespec.py
Due: none

feat: add StorySpec and ProcessSpec DSL parser and IR types
  src/dazzle/core/dsl_parser_impl/__init__.py
  src/dazzle/core/dsl_parser_impl/base.py
  src/dazzle/core/dsl_parser_impl/process.py
  src/dazzle/core/dsl_parser_impl/story.py
  src/dazzle/core/ir/__init__.py
  src/dazzle/core/ir/appspec.py
  src/dazzle/core/ir/llm_events.py
  src/dazzle/core/ir/module.py
  src/dazzle/core/ir/process.py
  src/dazzle/core/ir/stories.py
  src/dazzle/core/ir/workspaces.py
  src/dazzle/core/lexer.py
  src/dazzle/core/linker.py
  src/dazzle/core/linker_impl.py
  tests/unit/test_llm_events.py
  tests/unit/test_parser.py
Due: pytest-fast, parser-corpus

feat: add LiteProcessAdapter for process execution (Phase 3)
  src/dazzle/core/process/__init__.py
  src/dazzle/core/process/adapter.py
  src/dazzle/core/process/context.py
  src/dazzle/core/process/lite_adapter.py
  src/dazzle/core/process/schema.sql
  src/dazzle_dnr_back/runtime/process_manager.py
  tests/unit/test_lite_adapter.py
Due: pytest-fast

feat: implement Phase 4 - Human Task Integration
  src/dazzle/core/process/lite_adapter.py
  src/dazzle_dnr_back/runtime/control_plane.py
  src/dazzle_dnr_back/runtime/process_manager.py
  src/dazzle_dnr_back/runtime/route_generator.py
  src/dazzle_dnr_back/runtime/server.py
  src/dazzle_dnr_back/runtime/task_routes.py
  src/dazzle_dnr_ui/converters/task_inbox.py
  src/dazzle_dnr_ui/runtime/site_renderer.py
  src/dazzle_dnr_ui/runtime/static/js/components/task-header.js
  src/dazzle_dnr_ui/runtime/task_context.py
  tests/unit/test_human_tasks.py
Due: eslint, js-typecheck, js-tests, pytest-fast

feat: add TemporalAdapter for production workflow execution (Phase 5)
  pyproject.toml
  src/dazzle/core/process/__init__.py
  src/dazzle/core/process/activities.py
  src/dazzle/core/process/factory.py
  src/dazzle/core/process/temporal_adapter.py
  src/dazzle/process/__init__.py
  src/dazzle/process/worker.py
  src/dazzle/templates/infra/Dockerfile.worker
  src/dazzle/templates/infra/docker-compose.temporal.yml
  tests/integration/test_temporal_adapter.py
Due: pytest-fast

feat: add VersionManager for process migration and versioning (Phase 6)
  src/dazzle/cli/__init__.py
  src/dazzle/cli/migrate.py
  src/dazzle/cli_legacy.py
  src/dazzle/core/process/__init__.py
  src/dazzle/core/process/adapter.py
  src/dazzle/core/process/lite_adapter.py
  src/dazzle/core/process/schema.sql
  src/dazzle/core/process/temporal_adapter.py
  src/dazzle/core/process/version_manager.py
  tests/unit/test_version_manager.py
Due: pytest-fast

feat(mcp): add ProcessSpec and story coverage MCP tools (Phase 7)
  src/dazzle/mcp/server/__init__.py
  src/dazzle/mcp/server/handlers/process.py
  src/dazzle/mcp/server/tools.py
  tests/integration/__snapshots__/test_golden_master.ambr
  tests/unit/test_mcp_process_tools.py
Due: pytest-fast, mcp-verify

feat: wire entity lifecycle events to ProcessManager
  src/dazzle_dnr_back/runtime/server.py
  src/dazzle_dnr_back/runtime/service_generator.py
  tests/unit/test_entity_event_triggering.py
Due: none

feat: add Task Inbox UI for workflow human tasks
  src/dazzle_dnr_ui/runtime/static/js/app.js
  src/dazzle_dnr_ui/runtime/static/js/components.js
Due: eslint, js-typecheck, js-tests

feat: add generate_tests_from_stories MCP tool
  src/dazzle/mcp/server/__init__.py
  src/dazzle/mcp/server/handlers/stories.py
  src/dazzle/mcp/server/tool_handlers.py
  src/dazzle/mcp/server/tools.py
  tests/unit/test_stories.py
Due: pytest-fast, mcp-verify

feat: add get_process_diagram MCP tool for process visualization
  src/dazzle/mcp/server/__init__.py
  src/dazzle/mcp/server/handlers/process.py
  src/dazzle/mcp/server/tools.py
  tests/unit/test_process_diagram.py
Due: pytest-fast, mcp-verify

docs: update MCP server documentation with new tools
  docs/architecture/mcp-server.md
  src/dazzle/mcp/server/handlers/process.py
Due: pytest-fast, mcp-verify

feat: add DevConfig and DAZZLE_ENV environment control
  src/dazzle/cli/dnr_impl/serve.py
  src/dazzle/core/dsl_parser_impl/workspace.py
  src/dazzle/core/manifest.py
Due: pytest-fast, parser-corpus

feat(dnr-ui): enhance hot reload, workspace access, and styling
  examples/simple_task/.claude/settings.json
  examples/simple_task/dsl/app.dsl
  src/dazzle_dnr_ui/converters/__init__.py
  src/dazzle_dnr_ui/converters/workspace_converter.py
  src/dazzle_dnr_ui/runtime/combined_server.py
  src/dazzle_dnr_ui/runtime/docker/runner.py
  src/dazzle_dnr_ui/runtime/docker/templates.py
  src/dazzle_dnr_ui/runtime/hot_reload.py
  src/dazzle_dnr_ui/runtime/js_loader.py
  src/dazzle_dnr_ui/runtime/static/css/site-sections.css
  src/dazzle_dnr_ui/runtime/static/js/dazzle-bar/email-panel.js
  src/dazzle_dnr_ui/runtime/static/js/dazzle-bar/runtime.js
  src/dazzle_dnr_ui/runtime/vite_generator.py
  src/dazzle_dnr_ui/specs/__init__.py
  src/dazzle_dnr_ui/specs/workspace.py
Due: eslint, js-typecheck, js-tests, dsl-validate

refactor(stories): extract constants, helpers, and reduce duplication
  src/dazzle/mcp/server/handlers/stories.py
Due: pytest-fast, mcp-verify

fix(ci): add missing environment module and fix formatting/typing
  src/dazzle/cli/migrate.py
  src/dazzle/core/environment.py
  src/dazzle/core/process/activities.py
  src/dazzle/core/process/factory.py
  src/dazzle/core/process/temporal_adapter.py
  src/dazzle/process/worker.py
Due: pytest-fast

chore: update pre-commit ruff to v0.14.10 and fix formatting
  .pre-commit-config.yaml
  examples/fieldtest_hub/tests/e2e/test_computed_fields.py
  tests/unit/test_dnr_backend_sitespec.py
Due: none

fix(ci): use generic type ignore for Temporal decorators
  src/dazzle/core/process/activities.py
  src/dazzle/core/process/temporal_adapter.py
Due: pytest-fast

fix(ci): skip TestTaskRoutes when FastAPI not installed
  tests/unit/test_human_tasks.py
Due: none

fix(ci): disable auth in simple_task for E2E tests
  examples/simple_task/dazzle.toml
Due: none

fix(ci): accept 404 in auth endpoint test when auth disabled
  tests/integration/test_dnr_e2e.py
Due: none

feat(testing): unified test infrastructure with 100% pass rate
  examples/contact_manager/dsl/tests/dsl_generated_tests.json
  examples/fieldtest_hub/dsl/tests/dsl_generated_tests.json
  examples/ops_dashboard/dsl/tests/dsl_generated_tests.json
  examples/simple_task/dsl/tests/dsl_generated_tests.json
  examples/support_tickets/dsl/tests/dsl_generated_tests.json
  pyproject.toml
  src/dazzle/cli/testing.py
  src/dazzle/mcp/server/__init__.py
  src/dazzle/mcp/server/handlers/__init__.py
  src/dazzle/mcp/server/handlers/testing.py
  src/dazzle/mcp/server/tool_handlers.py
  src/dazzle/mcp/server/tools.py
  src/dazzle/testing/__init__.py
  src/dazzle/testing/dsl_test_generator.py
  src/dazzle/testing/e2e_runner.py
  src/dazzle/testing/event_test_runner.py
  src/dazzle/testing/test_generator.py
  src/dazzle/testing/test_runner.py
  src/dazzle/testing/unified_runner.py
Due: pytest-fast, mcp-verify

fix(ci): type errors and version sync, add agent E2E foundation
  cli/package.json
  homebrew/dazzle.rb
  src/dazzle/cli/testing.py
  src/dazzle/core/cli_bridge.py
  src/dazzle/mcp/server/handlers/testing.py
  src/dazzle/mcp/server/tool_handlers.py
  src/dazzle/testing/agent_e2e.py
Due: pytest-fast, mcp-verify, homebrew-validate, verify-pypi-urls

feat(mcp): add run_agent_e2e_tests tool for LLM-driven testing
  src/dazzle/mcp/server/__init__.py
  src/dazzle/mcp/server/handlers/__init__.py
  src/dazzle/mcp/server/handlers/testing.py
  src/dazzle/mcp/server/tools.py
Due: pytest-fast, mcp-verify

feat(testing): add HTML coverage report for agent E2E tests
  src/dazzle/cli/testing.py
  src/dazzle/testing/agent_e2e.py
Due: pytest-fast

chore: add .env support and gitignore updates
  .env.example
  .gitignore
Due: none

feat(testing): auto-load .env file for agent E2E tests
  src/dazzle/testing/agent_e2e.py
Due: pytest-fast

fix(testing): improve E2E CRUD flow generation and execution
  src/dazzle/cli/testing.py
  src/dazzle/core/ir/e2e.py
  src/dazzle/testing/__init__.py
  src/dazzle/testing/e2e_runner.py
  src/dazzle/testing/stress_test.py
  src/dazzle/testing/testspec_generator.py
  tests/unit/test_testspec_generator.py
Due: pytest-fast
