Repository manwithacat/dazzle: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, js-typecheck, js-tests, dsl-validate, pytest-fast, parser-corpus, pra-unit, mcp-verify, homebrew-validate, verify-pypi-urls

Path conditions:
  eslint: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$, but not: \.test\.js$
  js-typecheck: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$
  js-tests: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$
  dsl-validate: any of: \.dsl$, but not: (templates/|_archive/)
  pytest-fast: any of: ^src/dazzle/.*\.py$
  parser-corpus: any of: ^(src/dazzle/core/dsl_parser.*\.py|tests/parser_corpus/|tests/corpora/)
  pra-unit: any of: ^(src/dazzle_dnr_back/pra/|src/dazzle_dnr_back/events/|src/dazzle_dnr_back/metrics/|tests/unit/test_pra)
  mcp-verify: any of: ^src/dazzle/mcp/.*\.py$
  homebrew-validate: any of: ^homebrew/.*\.rb$
  verify-pypi-urls: any of: ^(homebrew/.*\.rb|\.github/workflows/release-cli\.yml)$

feat: PostgreSQL support for Heroku deployment
  Procfile
  pyproject.toml
  runtime.txt
  src/dazzle/cli/dnr_impl/serve.py
  src/dazzle_dnr_back/runtime/migrations.py
  src/dazzle_dnr_back/runtime/pg_backend.py
  src/dazzle_dnr_back/runtime/query_builder.py
  src/dazzle_dnr_back/runtime/repository.py
  src/dazzle_dnr_back/runtime/server.py
  src/dazzle_dnr_ui/runtime/combined_server.py
Due: pytest-fast

fix: load persisted stories in process handlers and enhance fidelity story scoring (#74)
  src/dazzle/core/fidelity_scorer.py
  src/dazzle/core/init_impl/spec.py
  src/dazzle/core/ir/fidelity.py
  src/dazzle/mcp/server/handlers/fidelity.py
  src/dazzle/mcp/server/handlers/process.py
  tests/unit/test_fidelity_scorer.py
  tests/unit/test_mcp_process_tools.py
Due: pytest-fast, mcp-verify

feat: v0.20 — paginated story coverage, app_feedback rename, gh token auth
  .claude/CLAUDE.md
  pyproject.toml
  scripts/verify-mcp.py
  src/dazzle/core/stories_persistence.py
  src/dazzle/mcp/semantics_kb/core.toml
  src/dazzle/mcp/server/github_issues.py
  src/dazzle/mcp/server/handlers/contribution.py
  src/dazzle/mcp/server/handlers/process.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  tests/unit/test_mcp_process_tools.py
Due: pytest-fast, mcp-verify

fix: use PageContext.view_name for fidelity surface matching (#75)
  src/dazzle/mcp/server/handlers/fidelity.py
Due: pytest-fast, mcp-verify

fix: update CI workflows and mkdocs nav for dazzle_back rename
  .github/workflows/ci.yml
  .github/workflows/pra.yml
  .github/workflows/tigerbeetle.yml
  docs/llms-full.txt
  mkdocs.yml
Due: none

fix: update gen_reference_docs.py for dazzle_back rename
  scripts/gen_reference_docs.py
Due: none

fix: update reference_docs config for dazzle_back/dazzle_ui paths
  scripts/reference_docs.config.json
Due: none

fix: update CI workflow commands and test paths for dnr removal
  .github/workflows/ci.yml
  .github/workflows/ux-coverage.yml
Due: none

fix: sync CLI package.json version to 0.21.0
  cli/package.json
Due: none

fix: resolve fidelity engine silent failures and false positive gaps (#76)
  .claude/commands/bump.md
  src/dazzle/core/fidelity_scorer.py
  src/dazzle/core/init_impl/validation.py
  src/dazzle/mcp/server/handlers/fidelity.py
Due: pytest-fast, mcp-verify

fix: resolve inspect_surface parameter bug and add render failure details (#77)
  src/dazzle/mcp/server/handlers/dsl.py
  src/dazzle/mcp/server/handlers/fidelity.py
  src/dazzle/mcp/server/tool_handlers.py
Due: pytest-fast, mcp-verify

fix: suppress scope mismatch noise, add lint gate to fidelity, fix MCP reload
  src/dazzle/core/fidelity_scorer.py
  src/dazzle/core/ir/fidelity.py
  src/dazzle/core/ir/fields.py
  src/dazzle/mcp/server/handlers/fidelity.py
  src/dazzle/mcp/server/handlers/status.py
  tests/unit/test_fidelity_scorer.py
Due: pytest-fast, mcp-verify

feat: replace process propose stubs with workflow design briefs, fix lint bug (#78)
  src/dazzle/core/ir/fields.py
  src/dazzle/mcp/server/handlers/dsl.py
  src/dazzle/mcp/server/handlers/process.py
  src/dazzle/mcp/server/handlers/stories.py
  src/dazzle/mcp/server/tool_handlers.py
  src/dazzle/stubs/story_stub_generator.py
  tests/unit/test_mcp_process_tools.py
  tests/unit/test_process_propose.py
  tests/unit/test_stories.py
Due: pytest-fast, mcp-verify

perf: deduplicate entity context and collapse CRUD in process propose
  src/dazzle/mcp/server/handlers/process.py
  tests/unit/test_mcp_process_tools.py
  tests/unit/test_process_propose.py
Due: pytest-fast, mcp-verify

refactor: fully remove story stubs MCP tool and handlers
  src/dazzle/mcp/server/handlers/__init__.py
  src/dazzle/mcp/server/handlers/stories.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tool_handlers.py
  src/dazzle/mcp/server/tools.py
  src/dazzle/mcp/server/tools_consolidated.py
Due: pytest-fast, mcp-verify

feat: add contract-aware design questions and review checklist (#79)
  src/dazzle/mcp/server/handlers/process.py
  tests/unit/test_process_propose.py
Due: pytest-fast, mcp-verify

feat: process persistence, guard extraction, and integration fidelity (#80, #81)
  src/dazzle/core/fidelity_scorer.py
  src/dazzle/core/ir/fidelity.py
  src/dazzle/core/ir/process.py
  src/dazzle/core/ir/test_design.py
  src/dazzle/core/process_persistence.py
  src/dazzle/core/validator.py
  src/dazzle/mcp/event_first_tools.py
  src/dazzle/mcp/server/handlers/process.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  tests/unit/test_guard_extraction.py
  tests/unit/test_process_persistence.py
Due: pytest-fast, mcp-verify

feat: add export_frontend_spec DSL operation for framework-agnostic frontend handoff (#82)
  src/dazzle/core/frontend_spec_export.py
  src/dazzle/mcp/server/handlers/dsl.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  tests/unit/test_frontend_spec_export.py
Due: pytest-fast, mcp-verify

refactor: replace Vite pipeline with CSS design system and simplify Docker runtime
  .gitignore
  src/dazzle/cli/runtime_impl/serve.py
  src/dazzle/core/cli_bridge.py
  src/dazzle/core/init_impl/ui_init.py
  src/dazzle/core/ir/hless_validator.py
  src/dazzle_ui/runtime/combined_server.py
  src/dazzle_ui/runtime/css_loader.py
  src/dazzle_ui/runtime/docker/__init__.py
  src/dazzle_ui/runtime/docker/runner.py
  src/dazzle_ui/runtime/docker/templates.py
  src/dazzle_ui/runtime/docker_runner.py
  src/dazzle_ui/runtime/hot_reload.py
  src/dazzle_ui/runtime/site_renderer.py
  src/dazzle_ui/runtime/static/css/dazzle-layer.css
  src/dazzle_ui/runtime/static/css/design-system.css
  src/dazzle_ui/runtime/static/css/polish.css
  src/dazzle_ui/runtime/template_renderer.py
  src/dazzle_ui/runtime/vite_generator.py
  src/dazzle_ui/templates/base.html
  src/dazzle_ui/templates/components/alpine/confirm_dialog.html
  src/dazzle_ui/templates/components/alpine/dropdown.html
  src/dazzle_ui/templates/fragments/status_badge.html
  src/dazzle_ui/templates/layouts/app_shell.html
Due: pytest-fast

feat: add process coverage tracking, diagram generation, and lifecycle save/inspect (#83)
  src/dazzle/core/ir/hless_validator.py
  src/dazzle/core/ir/process.py
  src/dazzle/core/lexer.py
  src/dazzle/mcp/semantics_kb/core.toml
  src/dazzle/mcp/server/handlers/process.py
  src/dazzle/mcp/server/tools_consolidated.py
  tests/unit/test_mcp_process_tools.py
  tests/unit/test_process_coverage.py
  tests/unit/test_process_propose.py
Due: pytest-fast, mcp-verify

feat: improve DSL tooling with fuzzy suggestions, unified issues, and actionable tenancy (#85-#90)
  src/dazzle/core/linker_impl.py
  src/dazzle/core/patterns.py
  src/dazzle/core/sitespec_loader.py
  src/dazzle/mcp/event_first_tools.py
  src/dazzle/mcp/server/handlers/__init__.py
  src/dazzle/mcp/server/handlers/dsl.py
  src/dazzle/mcp/server/handlers/process.py
  src/dazzle/mcp/server/handlers/sitespec.py
  src/dazzle/mcp/server/handlers/test_design.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/testing/test_design_persistence.py
  tests/unit/test_process_coverage.py
  tests/unit/test_quick_wins.py
  tests/unit/test_sitespec.py
  tests/unit/test_tenancy_inference.py
  tests/unit/test_test_design_validation.py
  tests/unit/test_unified_issues.py
Due: pytest-fast, mcp-verify

docs: update README with Determinism → Cognition pipeline and remove DNR references
  README.md
Due: none

fix: remove deprecated DNR references from E2E tests and CI workflows
  .github/workflows/ci.yml
  .github/workflows/ux-coverage.yml
  tests/e2e/__init__.py
  tests/e2e/docker/Dockerfile.backend
  tests/e2e/docker/Dockerfile.e2e
  tests/e2e/docker/Dockerfile.frontend
  tests/e2e/docker/debug_blank_screenshots.py
  tests/e2e/docker/docker-compose.e2e.yaml
  tests/e2e/docker/run_tests.sh
  tests/e2e/docker/run_ux_coverage.sh
  tests/e2e/docker/test_generated_flows.py
  tests/e2e/docker/test_ux_validation.py
  tests/e2e/docker/ux_coverage.py
  tests/e2e/test_fieldtest_hub_screenshots.py
  tests/e2e/test_playwright_smoke.py
  tests/e2e/test_serve.py
Due: none

feat: add tiered event streaming for Heroku deployments (PostgreSQL, Redis)
  .gitignore
  pyproject.toml
  src/dazzle/core/llm_context.py
  src/dazzle_back/events/__init__.py
  src/dazzle_back/events/postgres_bus.py
  src/dazzle_back/events/redis_bus.py
  src/dazzle_back/events/tier.py
Due: pytest-fast

Add create_app_factory() for production deployment (Heroku, etc.)
  src/dazzle_back/runtime/server.py
Due: none

Add create_app_factory() for production deployment (Heroku, etc.) (#91)
  src/dazzle_back/runtime/server.py
Due: none

Fix: Include dazzle_ui templates in package distribution
  pyproject.toml
Due: none

Fix: Include dazzle_ui templates in package distribution (#92)
  pyproject.toml
Due: none

Fix: Correct package-data pattern for dazzle_ui templates
  pyproject.toml
Due: none

Fix: Correct package-data pattern for dazzle_ui templates (#93)
  pyproject.toml
Due: none

Fix: Include HTML page routes for sitespec pages
  src/dazzle_back/runtime/server.py
Due: none

Fix: Include HTML page routes for sitespec pages (#94)
  src/dazzle_back/runtime/server.py
Due: none

Add HTMX template specification for LLM cognition support
  docs/reference/htmx-templates.md
  src/dazzle/core/llm_context.py
  src/dazzle/mcp/resources.py
  src/dazzle/mcp/semantics_kb/__init__.py
  src/dazzle/mcp/semantics_kb/frontend.toml
  src/dazzle/mcp/server/__init__.py
Due: pytest-fast, mcp-verify

Add PostgreSQL support to AuthStore for production deployments
  src/dazzle_back/runtime/auth.py
Due: none

Add PostgreSQL support for auth database
  src/dazzle_back/runtime/auth.py
  src/dazzle_back/runtime/server.py
Due: none

chore: Migrate str+Enum to StrEnum in dazzle_ui specs
  src/dazzle_ui/specs/actions.py
  src/dazzle_ui/specs/state.py
  src/dazzle_ui/specs/workspace.py
Due: none

feat: Add DAZZLE_ENABLE_PROCESSES env var
  src/dazzle_back/runtime/server.py
Due: none
