Repository manwithacat/dazzle: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, js-typecheck, js-tests, dsl-validate, pytest-fast, parser-corpus, pra-unit, mcp-verify, homebrew-validate, verify-pypi-urls

Path conditions:
  eslint: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$, but not: \.test\.js$
  js-typecheck: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$
  js-tests: any of: ^src/dazzle_dnr_ui/runtime/static/js/.*\.js$
  dsl-validate: any of: \.dsl$, but not: (templates/|_archive/)
  pytest-fast: any of: ^src/dazzle/.*\.py$
  parser-corpus: any of: ^(src/dazzle/core/dsl_parser.*\.py|tests/parser_corpus/|tests/corpora/)
  pra-unit: any of: ^(src/dazzle_dnr_back/pra/|src/dazzle_dnr_back/events/|src/dazzle_dnr_back/metrics/|tests/unit/test_pra)
  mcp-verify: any of: ^src/dazzle/mcp/.*\.py$
  homebrew-validate: any of: ^homebrew/.*\.rb$
  verify-pypi-urls: any of: ^(homebrew/.*\.rb|\.github/workflows/release-cli\.yml)$

Deprecate TOML direct reads: make KG the sole runtime query path
  src/dazzle/mcp/inference.py
  src/dazzle/mcp/semantics_kb/__init__.py
  src/dazzle/mcp/server/handlers/status.py
  src/dazzle/mcp/server/tool_handlers.py
Due: pytest-fast, mcp-verify

Fix reload bug and clean up KG query layer code smells
  src/dazzle/mcp/_graph_access.py
  src/dazzle/mcp/inference.py
  src/dazzle/mcp/semantics_kb/__init__.py
  src/dazzle/mcp/server/handlers/status.py
  src/dazzle/mcp/server/tool_handlers.py
Due: pytest-fast, mcp-verify

Add headless discovery mode: static persona journey analysis
  src/dazzle/agent/missions/__init__.py
  src/dazzle/agent/missions/persona_journey.py
  src/dazzle/mcp/server/handlers/discovery.py
  src/dazzle/mcp/server/tools_consolidated.py
  tests/unit/test_persona_journey.py
Due: pytest-fast, mcp-verify

Add MCP tool call telemetry logging
  src/dazzle/mcp/knowledge_graph/store.py
  src/dazzle/mcp/server/handlers/status.py
  src/dazzle/mcp/server/handlers_consolidated.py
  tests/unit/test_telemetry.py
Due: pytest-fast, mcp-verify

Refine headless discovery: reduce noise, fix entity-source mapping
  src/dazzle/agent/emitter.py
  src/dazzle/agent/missions/persona_journey.py
  tests/unit/test_persona_journey.py
Due: pytest-fast

Fix workspace region rendering: column types, filters, attention, nav
  src/dazzle_back/runtime/server.py
  src/dazzle_ui/runtime/template_renderer.py
  src/dazzle_ui/runtime/workspace_renderer.py
  src/dazzle_ui/templates/workspace/regions/list.html
  tests/unit/test_workspace_rendering.py
Due: none

Expand README with Seven Layers architecture and full feature coverage
  README.md
Due: none

Fix rejected story coverage (#129) and add auth flows + SSR (#128)
  src/dazzle/mcp/server/handlers/process.py
  src/dazzle_back/runtime/auth.py
  src/dazzle_back/runtime/site_routes.py
  src/dazzle_ui/runtime/site_renderer.py
  tests/unit/test_auth_password_reset.py
  tests/unit/test_mcp_process_tools.py
Due: pytest-fast, mcp-verify

Add surface and experience access control parsing (#128 Tier 2)
  src/dazzle/core/dsl_parser_impl/service.py
  src/dazzle/core/dsl_parser_impl/surface.py
  src/dazzle/core/ir/experiences.py
  src/dazzle/core/linker_impl.py
  src/dazzle_ui/runtime/page_routes.py
  tests/unit/test_surface_access_enforcement.py
  tests/unit/test_surface_access_parsing.py
Due: pytest-fast, parser-corpus

Add user profile MCP tool for adaptive persona inference
  src/dazzle/mcp/resources.py
  src/dazzle/mcp/server/__init__.py
  src/dazzle/mcp/server/handlers/user_profile.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  src/dazzle/mcp/user_profile.py
  tests/unit/mcp/test_user_profile.py
Due: pytest-fast, mcp-verify

Fix mypy type errors in logout endpoint return type
  src/dazzle_back/runtime/auth.py
Due: none

Fix runtime bugs #130, #132–136: constraint errors, timestamps, enum validation, pluralization, sanitization
  src/dazzle/core/frontend_spec_export.py
  src/dazzle/core/sitespec_loader.py
  src/dazzle_back/converters/entity_converter.py
  src/dazzle_back/runtime/exception_handlers.py
  src/dazzle_back/runtime/model_generator.py
  src/dazzle_back/runtime/repository.py
  src/dazzle_back/runtime/sanitizer.py
  src/dazzle_back/runtime/service_generator.py
  src/dazzle_back/specs/entity.py
  tests/unit/test_auto_timestamps.py
  tests/unit/test_constraint_errors.py
  tests/unit/test_enum_validation.py
  tests/unit/test_frontend_spec_export.py
  tests/unit/test_input_sanitization.py
Due: pytest-fast

Expand money(GBP) fields to _minor/_currency column pair (#131)
  src/dazzle_back/converters/entity_converter.py
  src/dazzle_back/converters/surface_converter.py
  src/dazzle_back/runtime/server.py
  src/dazzle_ui/converters/template_compiler.py
  src/dazzle_ui/runtime/mock_data.py
  src/dazzle_ui/runtime/template_renderer.py
  tests/unit/test_money_expansion.py
  tests/unit/test_template_rendering.py
Due: none

Add bash/curl smoke test generator from DSL (#138)
  src/dazzle/mcp/server/handlers/dsl_test.py
  src/dazzle/mcp/server/tools_consolidated.py
  src/dazzle/testing/__init__.py
  src/dazzle/testing/curl_test_generator.py
  src/dazzle/testing/dsl_test_generator.py
  tests/unit/test_curl_test_generator.py
Due: pytest-fast, mcp-verify

Fix enum validation error crash — ValueError not JSON serializable (#140)
  src/dazzle_back/runtime/exception_handlers.py
  tests/unit/test_exception_handlers.py
Due: none

Fix money(GBP) expansion orphaned column NOT NULL crash (#139)
  src/dazzle_back/runtime/migrations.py
  src/dazzle_back/tests/test_migrations.py
Due: none

Remove Alpine.js dependency, replace with dz.js micro-runtime (#141)
  src/dazzle/core/llm_context.py
  src/dazzle/mcp/semantics_kb/frontend.toml
  src/dazzle_back/control_plane/dashboard.py
  src/dazzle_back/runtime/console_routes.py
  src/dazzle_ui/runtime/__init__.py
  src/dazzle_ui/runtime/fragment_registry.py
  src/dazzle_ui/runtime/static/css/dz.css
  src/dazzle_ui/runtime/static/js/datatable.js
  src/dazzle_ui/runtime/static/js/dz.js
  src/dazzle_ui/templates/base.html
  src/dazzle_ui/templates/components/alpine/confirm_dialog.html
  src/dazzle_ui/templates/components/alpine/dropdown.html
  src/dazzle_ui/templates/components/alpine/slide_over.html
  src/dazzle_ui/templates/components/filterable_table.html
  src/dazzle_ui/templates/components/form.html
  src/dazzle_ui/templates/console/app_map.html
  src/dazzle_ui/templates/console/deploy.html
  src/dazzle_ui/templates/console/partials/entity_list.html
  src/dazzle_ui/templates/console/performance.html
  src/dazzle_ui/templates/fragments/bulk_actions.html
  src/dazzle_ui/templates/fragments/filter_bar.html
  src/dazzle_ui/templates/fragments/inline_edit.html
  src/dazzle_ui/templates/fragments/search_input.html
  src/dazzle_ui/templates/fragments/search_select.html
  src/dazzle_ui/templates/fragments/table_rows.html
  src/dazzle_ui/templates/layouts/app_shell.html
Due: pytest-fast

Add HX-Trigger response headers for server→client event coordination (#142)
  src/dazzle_back/runtime/exception_handlers.py
  src/dazzle_back/runtime/htmx_response.py
  src/dazzle_back/runtime/route_generator.py
  src/dazzle_ui/runtime/static/js/dz.js
Due: none

Upgrade htmx from 2.0.3 to 2.0.8 (#144)
  src/dazzle_back/control_plane/dashboard.py
  src/dazzle_ui/templates/base.html
Due: none

Add idiomorph DOM morphing for table swap performance (#143)
  src/dazzle_ui/runtime/static/js/dz.js
  src/dazzle_ui/templates/base.html
  src/dazzle_ui/templates/components/filterable_table.html
  src/dazzle_ui/templates/fragments/bulk_actions.html
  src/dazzle_ui/templates/fragments/table_pagination.html
  src/dazzle_ui/templates/fragments/table_rows.html
Due: none

Fix dz.js and dz.css 404 — add /static/ serving to both servers (#147)
  src/dazzle_back/runtime/server.py
  src/dazzle_ui/runtime/combined_server.py
Due: none

Remove combined dev server, use single-port FastAPI everywhere (#148)
  src/dazzle/cli/runtime_impl/serve.py
  src/dazzle_ui/runtime/__init__.py
  src/dazzle_ui/runtime/combined_server.py
  src/dazzle_ui/runtime/site_renderer.py
  src/dazzle_ui/tests/test_combined_server.py
  tests/unit/test_dark_mode_toggle.py
Due: pytest-fast

Add gitignore entries for vendored repos, add issues command
  .claude/commands/issues.md
  .gitignore
Due: none

Fix workspace dashboards accessible without authentication (#145)
  src/dazzle_back/runtime/server.py
  tests/unit/test_workspace_routes.py
Due: none

Add per-persona authenticated sessions for testing and discovery (#137)
  src/dazzle/agent/__init__.py
  src/dazzle/agent/client_factory.py
  src/dazzle/cli/testing.py
  src/dazzle/mcp/server/handlers/discovery.py
  src/dazzle/mcp/server/handlers/dsl_test.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  src/dazzle/testing/__init__.py
  src/dazzle/testing/session_manager.py
  src/dazzle/testing/test_runner.py
  src/dazzle/testing/unified_runner.py
  tests/unit/test_session_manager.py
Due: pytest-fast, mcp-verify

Fix Postgres constraint violations — proper FK enforcement + error messages (#146)
  src/dazzle_back/runtime/migrations.py
  src/dazzle_back/runtime/pg_backend.py
  src/dazzle_back/runtime/repository.py
  tests/unit/test_constraint_errors.py
Due: none

Fix static images 404 — serve project + framework assets via CombinedStaticFiles (#149)
  src/dazzle/mcp/semantics_kb/frontend.toml
  src/dazzle/mcp/server/handlers/sitespec.py
  src/dazzle_back/runtime/server.py
  src/dazzle_back/runtime/static_files.py
  src/dazzle_ui/runtime/combined_server.py
  tests/unit/test_static_files.py
Due: pytest-fast, mcp-verify

Fix FK column name mismatch — _infer_fk_field appended spurious _id suffix
  src/dazzle_back/runtime/relation_loader.py
Due: none

Fix psycopg2 subclass exceptions bypassing IntegrityError check (#151)
  src/dazzle_back/runtime/repository.py
  tests/unit/test_constraint_errors.py
Due: none

Fix DaisyUI drawer broken on tablet — replace lg:drawer-open with data attribute CSS (#150)
  src/dazzle_ui/runtime/static/css/dz.css
  src/dazzle_ui/runtime/static/js/dz.js
Due: none

Add viewport assertion framework for responsive layout testing (#153)
  src/dazzle/mcp/server/handlers/viewport_testing.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  src/dazzle/testing/__init__.py
  src/dazzle/testing/viewport.py
  src/dazzle/testing/viewport_runner.py
  tests/unit/test_viewport.py
Due: pytest-fast, mcp-verify

Add viewport phase 2: suggestions, custom specs, auth, screenshots, CI (#154)
  .github/workflows/ci.yml
  pyproject.toml
  src/dazzle/core/cli_bridge.py
  src/dazzle/mcp/server/handlers/viewport_testing.py
  src/dazzle/mcp/server/handlers_consolidated.py
  src/dazzle/mcp/server/tools_consolidated.py
  src/dazzle/testing/viewport.py
  src/dazzle/testing/viewport_auth.py
  src/dazzle/testing/viewport_runner.py
  src/dazzle/testing/viewport_screenshot.py
  src/dazzle/testing/viewport_specs.py
  src/dazzle/testing/viewport_suggestions.py
  tests/unit/test_viewport_auth.py
  tests/unit/test_viewport_screenshot.py
  tests/unit/test_viewport_specs.py
  tests/unit/test_viewport_suggestions.py
Due: pytest-fast, mcp-verify

Fix PostgreSQL placeholder crashes — eliminate SQLite-isms from runtime (#155)
  src/dazzle_back/channels/outbox.py
  src/dazzle_back/events/inbox.py
  src/dazzle_back/runtime/pg_backend.py
  src/dazzle_back/runtime/relation_loader.py
  src/dazzle_back/runtime/service_generator.py
  tests/unit/test_pg_placeholder_translation.py
Due: none

Add CI PostgreSQL test target and database configuration docs (#155)
  .github/workflows/ci.yml
  docs/getting-started/quickstart.md
  docs/reference/databases.md
  docs/reference/index.md
Due: none

Postgres-first refactoring — all subsystems support dual-backend (#155)
  src/dazzle/core/process/lite_adapter.py
  src/dazzle/core/process/schema_postgres.sql
  src/dazzle/core/process/version_manager.py
  src/dazzle_back/events/framework.py
  src/dazzle_back/events/inbox.py
  src/dazzle_back/events/outbox.py
  src/dazzle_back/runtime/db_backend.py
  src/dazzle_back/runtime/device_registry.py
  src/dazzle_back/runtime/fts_manager.py
  src/dazzle_back/runtime/fts_postgres.py
  src/dazzle_back/runtime/health_aggregator.py
  src/dazzle_back/runtime/ops_database.py
  src/dazzle_back/runtime/relation_loader.py
  src/dazzle_back/runtime/repository.py
  src/dazzle_back/runtime/server.py
  src/dazzle_back/runtime/service_generator.py
  src/dazzle_back/runtime/token_store.py
  tests/unit/test_db_backend.py
  tests/unit/test_device_registry_pg.py
  tests/unit/test_file_storage_pg.py
  tests/unit/test_framework_pg.py
  tests/unit/test_fts_postgres.py
  tests/unit/test_health_aggregator_pg.py
  tests/unit/test_inbox_pg.py
  tests/unit/test_lite_adapter_pg.py
  tests/unit/test_ops_database_pg.py
  tests/unit/test_outbox_pg.py
  tests/unit/test_repository_integrity.py
  tests/unit/test_token_store_pg.py
  tests/unit/test_version_manager_pg.py
Due: pytest-fast

Migrate PostgreSQL drivers from psycopg2 + asyncpg to psycopg v3 (#155)
  docs/reference/databases.md
  pyproject.toml
  src/dazzle/core/process/lite_adapter.py
  src/dazzle/core/process/version_manager.py
  src/dazzle_back/events/framework.py
  src/dazzle_back/events/outbox.py
  src/dazzle_back/events/postgres_bus.py
  src/dazzle_back/events/tier.py
  src/dazzle_back/runtime/auth.py
  src/dazzle_back/runtime/db_backend.py
  src/dazzle_back/runtime/file_storage.py
  src/dazzle_back/runtime/fts_manager.py
  src/dazzle_back/runtime/health_aggregator.py
  src/dazzle_back/runtime/pg_backend.py
  src/dazzle_back/runtime/repository.py
  tests/unit/test_auth_postgres.py
  tests/unit/test_constraint_errors.py
  tests/unit/test_db_backend.py
  tests/unit/test_device_registry_pg.py
  tests/unit/test_framework_pg.py
  tests/unit/test_health_aggregator_pg.py
  tests/unit/test_lite_adapter_pg.py
  tests/unit/test_outbox_pg.py
  tests/unit/test_repository_integrity.py
  tests/unit/test_token_store_pg.py
  tests/unit/test_version_manager_pg.py
Due: pytest-fast

Fix mypy errors from psycopg v3 migration — assert non-None URLs, type pool as Any (#155)
  src/dazzle_back/events/framework.py
  src/dazzle_back/events/postgres_bus.py
  src/dazzle_back/runtime/auth.py
  src/dazzle_back/runtime/db_backend.py
  src/dazzle_back/runtime/file_storage.py
  src/dazzle_back/runtime/health_aggregator.py
Due: none

Fix all CI failures — resolve mypy errors, fix test assertions, mandate Python 3.12 (#155)
  .github/workflows/ci.yml
  pyproject.toml
  src/dazzle_back/events/bus.py
  src/dazzle_back/events/framework.py
  src/dazzle_back/runtime/db_backend.py
  src/dazzle_back/runtime/device_registry.py
  src/dazzle_back/runtime/fts_manager.py
  src/dazzle_back/runtime/fts_postgres.py
  src/dazzle_back/runtime/htmx_response.py
  src/dazzle_back/runtime/token_store.py
  src/dazzle_back/tests/test_relations.py
  tests/unit/mcp/test_user_management_handlers.py
  tests/unit/test_viewport_screenshot.py
Due: none

Restructure ux-coverage workflow — remove broken Docker jobs, keep gap-analysis
  .github/workflows/ux-coverage.yml
  docs/contributing/testing.md
Due: none
